Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore: housekeeping
  kubernetes/apps/home/authelia/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/home/authelia/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 46.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 46.4.1 (#476)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.521
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: hajimari on kube-system
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: hajimari on kube-system
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: hajimari on kube-system
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.521 (#477)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update readme to k8s 1.27.2
  README.md
Labels: none

chore: update readme to k8s 1.27.2
  README.md
Labels: none

chore: update readme to k8s 1.27.2
  README.md
Labels: none

fix(container): update image weave-gitops to v4.0.22
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.22 (#478)
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tj-actions/changed-files action to v36.0.0
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v36.0.0 (#479)
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.1
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.1
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.1
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart external-secrets to 0.8.3
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 3d24a7e
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 3d24a7e
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 3d24a7e
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v36.0.2
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.2
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.2
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart external-secrets to 0.8.3 (#480)
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat: kyverno oci charts
  kubernetes/flux/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

feat: kyverno oci charts
  kubernetes/flux/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

feat: kyverno oci charts
  kubernetes/flux/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v36.0.3
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.3
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.3
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart grafana to 6.56.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.6 (#481)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-snmp-exporter to 1.5.0
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-snmp-exporter to 1.5.0 (#483)
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to d39dac4
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to d39dac4
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to d39dac4
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes
