Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

chore(blocky): reduce initial health check delay
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(pic): remove optimize db
  kubernetes/apps/media/plex/tools/image-cleanup/helmrelease.yaml
Labels: area/kubernetes

chore(nfd): clean up node features
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/mbpfan/app/helmrelease.yaml
  kubernetes/apps/kube-system/mbpfan/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/apple-t2.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/conbee-device.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/coral-device.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/intel-gpu.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/phoscon-conbee.yaml
  kubernetes/apps/kube-system/smarter-device-manager/ks.yaml
Labels: area/kubernetes

chore(varies): house keeping
  .github/CODEOWNERS
  .github/workflows/publish-terraform.yaml
  .taskfiles/VolSync/Taskfile.yaml
  README.md
  Taskfile.yaml
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/configs/config.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/flux/config/flux.yaml
  talos/.sops.yaml
  talos/README.md
  talos/talconfig.yaml
  talos/talenv.sops.yaml
  talos/talenv.yaml
Labels: area/github, area/kubernetes, area/talos, area/taskfiles

chore(alertmanager): change heartbeat endpoint
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
Labels: area/kubernetes

chore(github): update shields.io badges
  README.md
Labels: none

chore(authelia): clean up config
  kubernetes/apps/security/authelia/app/configs/configuration.yml
Labels: area/kubernetes

chore(npd): update image to v0.8.15
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

feat(gatus): move to personal develop image
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update badge dynamic locations
  README.md
Labels: none

chore(github): change badge link
  README.md
Labels: none

chore(kubernetes): rename thunderbolt flux var
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(weave-gitops): nit pick order
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

fix(spegel): host port range conflict
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): thunderbolt route metric
  .taskfiles/Kubernetes/Taskfile.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos, area/taskfiles

chore(qb): add nbl to xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(qb): i dont even know why
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): specify bond interface
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): thunderbolt metric is fixed
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(cnpg): upgrade pg cluster version
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(taskfiles): update priviledged container
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfiles

chore(blocky): change /etc/hosts mount name
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): remove devices filter
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(hajimari): flip some settings
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(taskfiles): add rook tasks
  .taskfiles/Rook/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfiles

chore(home): clean up persistence mounts
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

fix(qb): reload on secret change
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): add health check probes
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): add health check probes
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(lldap): add health check probes
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): clean up match expression
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
Labels: area/kubernetes

chore(qb): update st indexer
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

chore(nginx): rename ingress-nginx to nginx
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/certificate.yaml
  kubernetes/apps/networking/nginx/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes

chore(qb): change st indexer id
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

chore(blocky): clean up grafana datasource
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
Labels: area/kubernetes

feat(blocky): add ede response codes
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(qbtools): update aither required seed days
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
Labels: area/kubernetes

chore(github): update renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

chore(kromgo): rename persistence name
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(blocy): remove ede dns
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes
