Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore(github): update workflow
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(github): update workflow
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(smtp-replay): move to upstream maddy
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(gatus): add depends on to 1p
  kubernetes/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes

chore(smtp-relay): deprecated fixes
  kubernetes/apps/networking/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes

chore(github): simplier workflow
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(descheduler): add RemoveFailedPods
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/helm/descheduler.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(ceph): update health check expression
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore(cloudflared): move back to quic
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(taskfile): update var names
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

chore(flux): update intervals
  kubernetes/apps/flux-system/flux-operator/instance/resources/values.yaml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/meta/repositories/helm/backube.yaml
  kubernetes/flux/meta/repositories/helm/bjw-s.yaml
  kubernetes/flux/meta/repositories/helm/cilium.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/flux/meta/repositories/helm/coredns.yaml
  kubernetes/flux/meta/repositories/helm/descheduler.yaml
  kubernetes/flux/meta/repositories/helm/emqx.yaml
  kubernetes/flux/meta/repositories/helm/external-dns.yaml
  kubernetes/flux/meta/repositories/helm/external-secrets.yaml
  kubernetes/flux/meta/repositories/helm/grafana.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/meta/repositories/helm/intel.yaml
  kubernetes/flux/meta/repositories/helm/jetstack.yaml
  kubernetes/flux/meta/repositories/helm/metrics-server.yaml
  kubernetes/flux/meta/repositories/helm/node-feature-discovery.yaml
  kubernetes/flux/meta/repositories/helm/openebs.yaml
  kubernetes/flux/meta/repositories/helm/piraeus.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community.yaml
  kubernetes/flux/meta/repositories/helm/rook-ceph.yaml
  kubernetes/flux/meta/repositories/helm/spegel.yaml
  kubernetes/flux/meta/repositories/helm/stakater.yaml
Labels: area/kubernetes

chore(helm): reorganize the helmfile dependent apps
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ingress.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/instance/webhook/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
Labels: area/bootstrap, area/kubernetes

chore(helm): reorganize the helmfile dependent apps
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

chore(helm): reorganize the helmfile dependent apps
  .github/renovate.json5
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/ingress.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/receiver.yaml
Labels: area/github, area/kubernetes

chore(helm): reorganize the helmfile dependent apps
  bootstrap/helmfile.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/bootstrap, area/kubernetes

chore(helm): reorganize the helmfile dependent apps (#3488)
  .github/renovate.json5
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/ingress.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
Labels: area/bootstrap, area/github, area/kubernetes

feat(arc): use native secret value
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/kustomization.yaml
Labels: area/kubernetes

feat(arc): use native secret value (#3490)
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/kustomization.yaml
Labels: area/kubernetes

chore(flux): some simple housekeeping
  kubernetes/components/common/alerts/alertmanager/alert.yaml
  kubernetes/components/common/alerts/github/alert.yaml
Labels: area/kubernetes

chore(onepassword): move store to ks
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/store/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/home/atuin/ks.yaml
  kubernetes/apps/home/go2rtc/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/unpoller/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
Labels: area/kubernetes

chore(onepassword): move store to ks (#3491)
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/store/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/home/atuin/ks.yaml
  kubernetes/apps/home/go2rtc/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/unpoller/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
Labels: area/kubernetes

chore(kube-system): forgot to add namespaces
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
Labels: area/kubernetes

fix(volsync): only check source volsync
  kubernetes/apps/volsync-system/volsync/app/prometheusrule.yaml
Labels: area/kubernetes

chore(jellyseerr): opps depends
  kubernetes/apps/media/jellyseerr/ks.yaml
Labels: area/kubernetes

chore(kube): remove nfd
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/google-coral.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/intel-gpu.yaml
  kubernetes/apps/kube-system/node-feature-discovery/features/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

chore(flux): simplify github receiver
  kubernetes/apps/flux-system/flux-instance/app/receiver/receiver.yaml
Labels: area/kubernetes

chore(gpu): real fixes
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

chore(talos): set intel node selector in config
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

chore(talos): balance_performance is now default
  talos/controlplane.yaml.j2
Labels: area/talos

chore(renovate): use matchPackageNames
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
Labels: area/github

chore(talos): nit
  talos/controlplane.yaml.j2
Labels: area/talos

yay
  .github/workflows/pre-pull-images.yaml
Labels: area/github

feat(flux): move apps to oci repos
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(cnpg): move to oci
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helmrepository.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix helm repo sync
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

feat(cnpg): move to oci (#3507)
  .github/workflows/helm-repository-sync.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helmrepository.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/github, area/kubernetes

chore(ceph): use ceph config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(flux): enable more cosign
  kubernetes/apps/external-secrets/external-secrets/app/helmrepository.yaml
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/flux/meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

chore(media): move sonarr/radarr to ceph-block again
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes
