Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat: deploy tailscale
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/rbac.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes

fix: raise qbit memory limit
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: raise qbit memory limit
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: raise qbit memory limit
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: deprecate cf warp routing
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

chore: deprecate cf warp routing
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

chore: deprecate cf warp routing
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

feat: advertise more networks via tailscale
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

feat: advertise more networks via tailscale
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

feat: advertise more networks via tailscale
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.552
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.552 (#654)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart loki to 5.8.9
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.9 (#655)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.24.5
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.24.5 (#656)
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: pin qbittools to a version
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix: pin qbittools to a version
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix: pin qbittools to a version
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.1.1
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.1.1 (#657)
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

feat: direct tailscale networking
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: direct tailscale networking
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: direct tailscale networking
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(github-action)!: Update fluxcd/flux2 action to v2.0.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action)!: Update fluxcd/flux2 action to v2.0.0 (#658)
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: deprecate pod-gateway
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/pod-gateway/app/externalsecret.yaml
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/pod-gateway/app/kustomization.yaml
  kubernetes/apps/networking/pod-gateway/app/networkpolicy.yaml
  kubernetes/apps/networking/pod-gateway/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: deprecate pod-gateway
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/pod-gateway/app/externalsecret.yaml
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/pod-gateway/app/kustomization.yaml
  kubernetes/apps/networking/pod-gateway/app/networkpolicy.yaml
  kubernetes/apps/networking/pod-gateway/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: deprecate pod-gateway
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/pod-gateway/app/externalsecret.yaml
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/pod-gateway/app/kustomization.yaml
  kubernetes/apps/networking/pod-gateway/app/networkpolicy.yaml
  kubernetes/apps/networking/pod-gateway/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: house keeping public ports
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: house keeping public ports
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: house keeping public ports
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.0.1
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/github, area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.0.1 (#659)
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/github, area/kubernetes

fix(container): update image redis to v17.11.7
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.11.7 (#660)
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.1
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes
