Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(talos): clean up config patches
  talos/talconfig.yaml
Labels: area/talos

feat(rook-ceph): increase osds per device
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(taskfiles): adding new rook tasks
  .taskfiles/rook/scripts/wait.sh
  .taskfiles/rook/tasks.yaml
  .taskfiles/rook/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/templates/WipeRookDataJob.tmpl.yaml
  .taskfiles/volsync/tasks.yaml
Labels: area/taskfiles

feat(rook-ceph): upgrade to v18.2.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): osds per device 1
  .taskfiles/rook/tasks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/taskfiles

fix(taskfiles): wipe dms from rook job
  .taskfiles/rook/templates/WipeDiskJob.tmpl.yaml
Labels: area/taskfiles

chore(cnpg): increase cluster version
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(qbittorrent): fix env variables
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(talos): fix thunderbolt route metric
  talos/talconfig.yaml
Labels: area/talos

chore(qbittorrent): fix this later
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(autobrr): upgrade to autobrr v1.34.0
  kubernetes/apps/media/autobrr/app/configs/config.toml
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/kustomization.yaml
Labels: area/kubernetes

chore(github): cleanup readme and release
  .github/release.yaml
  README.md
Labels: area/github

chore(talos): clearer post mac setup
  talos/README.md
Labels: area/talos

chore(cert-manager): native dns helm values; replicas
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(atuin): more security context
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

chore(autobrr): more security context
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore(prowlarr): more security context
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(radarr): more security context
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(sonarr): more security context
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(arr): com crash on r/o fs
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(bazarr): more security context
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(bazarr): more security context
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): more security context
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): more security context
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(overseerr): more security context
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

chore(recyclarr): more security context
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): more security context
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(unpackerr): more security context
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

chore(recyclarr): more security context
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

chore(plex): more security context
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(exporters): more security context
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(gatus): more security context
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(karma): more security context
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes

chore(unpoller): more security context
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(libreddit): more security context
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
Labels: area/kubernetes

chore(nostr-relay): more security context
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(shlink): remove
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/shlink/app/configs/gatus.yaml
  kubernetes/apps/default/shlink/app/externalsecret.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/kustomization.yaml
  kubernetes/apps/default/shlink/ks.yaml
Labels: area/kubernetes

chore(home-assistant): more security context
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(mosquitto): more security context
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

chore(node-red): more security context
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/terraform:
  - "terraform/**/*"
