Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.1 (#669)
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to d3aee51
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to d3aee51
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to d3aee51
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.1
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.1 (#670)
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.1 (#671)
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade talos to v1.4.6; k8s to 1.27.3
  README.md
  talos/talconfig.yaml
Labels: none

feat: upgrade talos to v1.4.6; k8s to 1.27.3
  README.md
  talos/talconfig.yaml
Labels: none

feat: upgrade talos to v1.4.6; k8s to 1.27.3
  README.md
  talos/talconfig.yaml
Labels: none

feat: deploy gmessage
  kubernetes/apps/default/gmessage/app/helmrelease.yaml
  kubernetes/apps/default/gmessage/app/kustomization.yaml
  kubernetes/apps/default/gmessage/app/pvc.yaml
  kubernetes/apps/default/gmessage/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy gmessage
  kubernetes/apps/default/gmessage/app/helmrelease.yaml
  kubernetes/apps/default/gmessage/app/kustomization.yaml
  kubernetes/apps/default/gmessage/app/pvc.yaml
  kubernetes/apps/default/gmessage/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy gmessage
  kubernetes/apps/default/gmessage/app/helmrelease.yaml
  kubernetes/apps/default/gmessage/app/kustomization.yaml
  kubernetes/apps/default/gmessage/app/pvc.yaml
  kubernetes/apps/default/gmessage/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.4.0 (#672)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy gmessage
  kubernetes/apps/default/gmessage/app/helmrelease.yaml
  kubernetes/apps/default/gmessage/app/pvc.yaml
Labels: area/kubernetes

feat: deploy gmessage
  kubernetes/apps/default/gmessage/app/helmrelease.yaml
  kubernetes/apps/default/gmessage/app/pvc.yaml
Labels: area/kubernetes

feat: deploy gmessage
  kubernetes/apps/default/gmessage/app/helmrelease.yaml
  kubernetes/apps/default/gmessage/app/pvc.yaml
Labels: area/kubernetes

fix: grafana oauth login
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana oauth login
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana oauth login
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.1.3684
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.0.7588
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.1.3684 (#673)
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.0.7588 (#674)
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v37.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v37.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v37.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix: smtp-relay debugging; hostnames
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix: smtp-relay debugging; hostnames
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix: smtp-relay debugging; hostnames
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.7.3
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.7.3 (#675)
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

fix: tailnet default public port
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix: tailnet default public port
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix: tailnet default public port
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.58.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.58.0 (#676)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
