Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.4.4
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cert-manager to v1.13.0
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 261dd6d
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 387d63a
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat: wizarr v3
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.4.5
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.5
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up secret variable names
  kubernetes/apps/media/plex-auto-languages/app/externalsecret.yaml
  kubernetes/apps/media/plex-meta-manager/app/configs/config.yml
  kubernetes/apps/media/plex-meta-manager/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/configs/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/media/unpackerr/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/externalsecret.yaml
Labels: area/kubernetes

chore: migrate plex tools into one ks tools
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex-auto-languages/ks.yaml
  kubernetes/apps/media/plex-meta-manager/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/plex/tools/auto-languages/externalsecret.yaml
  kubernetes/apps/media/plex/tools/auto-languages/helmrelease.yaml
  kubernetes/apps/media/plex/tools/auto-languages/kustomization.yaml
  kubernetes/apps/media/plex/tools/kustomization.yaml
  kubernetes/apps/media/plex/tools/meta-manager/configs/Pre-rolls.yml
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/externalsecret.yaml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/kustomization.yaml
  kubernetes/apps/media/plex/tools/meta-manager/pvc.yaml
  kubernetes/apps/media/plex/tools/meta-manager/scripts/run.sh
  kubernetes/apps/media/plex/tools/meta-manager/volsync.yaml
Labels: area/kubernetes

feat(container): update image registry.k8s.io/sig-storage/csi-provisioner to v3.6.0
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.30
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

chore: update prowlarr auth
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to e481eb7
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.671
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.0.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.21.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.4.2
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.22.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: recyclarr cron
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: pmm resource limits
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

chore: resource limit mi consistency
  kubernetes/apps/media/plex/tools/auto-languages/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.7.7484-337c79318
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.4
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to dc45658
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gha-runner-scale-set to v0.6.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gha-runner-scale-set-controller to v0.6.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: gha maybe
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 117b471
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat: lldap v5.0.0
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.6
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up service monitors
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/bazarr to v1.3.0
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.4.3
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/tailscale/tailscale to v1.48.2
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix: wizarr rolling digests
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: project dir in taskfiles
  .taskfiles/talos/tasks.yaml
Labels: none

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.0.3966
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.0.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
