Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

does this work? x5
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/pvc.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

does this work? x6
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

does this work? x7
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

feat(app-template): yay (#4029)
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/pvc.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): opps
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(cnpg): add barman cloud
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/certificate.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/rbac.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
Labels: area/kubernetes

chore(barman): small nits
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
Labels: area/kubernetes

fix: remove deprecated network attachment definition client references from static configs
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
Labels: area/talos

chore(kubernetes): use .release.name where available
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): use .release.name where available
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): use .release.name where available (#4031)
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(qbittorrent): restructure and enhance deployment configurations for qbr and tqm
  CLAUDE.md
  kubernetes/apps/media/qbittorrent/tools/qbr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbr/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/resources/config.yaml
Labels: area/kubernetes

feat: update workflow steps and add project TODO management guidelines
  CLAUDE.md
  TODO.md
Labels: none

feat(zigbee): enable experimental event entities
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: add pending tasks for qbittorrent-cli configuration cherry-pick analysis
  TODO.md
Labels: none

feat: add upstream-ahead command to compare branches and filter commits
  .claude/commands/upstream-ahead.md
Labels: none

feat(zigbee): enable experimental event entities
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(es): onepassword-stores -> onepassword-store
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/store/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/store/onepassword.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

cert names
  .claude/commands/upstream-ahead.md
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

chore(talos): add nfsrahead config
  talos/machineconfig.yaml.j2
Labels: area/talos

feat(app-template): yay (#4029)
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/pvc.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): use .release.name where available (#4031)
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): opps
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): removed extra template
  talos/machineconfig.yaml.j2
Labels: area/talos

cleanup 1p (#8)
  CLAUDE.md
  docs/1PASSWORD-SETUP.md
Labels: none

fix(mise): remove trailing whitespace in .mise.toml
  .mise.toml
Labels: none

devin
  .renovate/groups.json5
Labels: none

fix(onepassword): add init container workaround for base64 encoding bug
  CLAUDE.md
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

fix(onepassword): remove unsupported base64 -w flag for BusyBox compatibility
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

revert(onepassword): temporarily disable init container to test manual fix
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

fix(bootstrap): prevent triple base64 encoding of OnePassword credentials
  CLAUDE.md
  bootstrap/secrets.yaml.tpl
Labels: area/bootstrap

docs: update 1Password setup guide with permanent bootstrap fix
  docs/1PASSWORD-SETUP.md
Labels: none

docs: update TODO.md with OnePassword fix completion and cluster status
  TODO.md
Labels: none

move script
  scripts/setup-github-app.sh
  setup-github-app.sh
Labels: none

fix(lint): update checkov, renovate, and trufflehog versions
  .trunk/trunk.yaml
Labels: none

fix(cilium): disable L2 announcement to resolve RSTP issues
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes

feat(rstp): implement proper STP priorities for L2+BGP hybrid mode
  .vscode/settings.json
  TODO.md
  docs/networking/unifi-bgp.conf
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
Labels: area/kubernetes, area/talos

remove default tolerations
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(default): expose hass
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

chore: update cilium apiversions
  kubernetes/apps/kube-system/cilium/config/l3.yaml
  kubernetes/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes
