Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

revert: rolling back loki to 5.5.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

revert: rolling back loki to 5.5.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: gpu exporter -> i915_monitoring
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore: gpu exporter -> i915_monitoring
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore: gpu exporter -> i915_monitoring
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.8.2
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.8.2 (#447)
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat: use oci for bjw-s & bitnami helm charts
  kubernetes/flux/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/repositories/helm/bjw-s-charts.yaml
Labels: area/kubernetes

feat: use oci for bjw-s & bitnami helm charts
  kubernetes/flux/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/repositories/helm/bjw-s-charts.yaml
Labels: area/kubernetes

feat: use oci for bjw-s & bitnami helm charts
  kubernetes/flux/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/repositories/helm/bjw-s-charts.yaml
Labels: area/kubernetes

feat: new arc hotness
  .github/workflows/helmrepository-sync.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/github, area/kubernetes

feat: new arc hotness
  .github/workflows/helmrepository-sync.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/github, area/kubernetes

feat: new arc hotness
  .github/workflows/helmrepository-sync.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/github, area/kubernetes

feat: oci helm release diff (thx @onedr0p)
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

feat: oci helm release diff (thx @onedr0p)
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

feat: oci helm release diff (thx @onedr0p)
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

chore(deps): update timheuer/base64-to-file digest to ca9e30b
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart loki to 5.5.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.3 (#449)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update timheuer/base64-to-file digest to ca9e30b (#448)
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/plex to v1.32.2.7100-248a2daf0
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.30.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.30.1 (#451)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.2.7100-248a2daf0 (#450)
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix: kps additional rules buh
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: kps additional rules buh
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: kps additional rules buh
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

revert: loki to 5.5.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

revert: loki to 5.5.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

revert: loki to 5.5.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.517
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.517 (#452)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.31.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: add hdbits to cross-seed
  kubernetes/apps/media/qbittorrent/cross-seed/configs/config.js
Labels: area/kubernetes

feat: add hdbits to cross-seed
  kubernetes/apps/media/qbittorrent/cross-seed/configs/config.js
Labels: area/kubernetes

feat: add hdbits to cross-seed
  kubernetes/apps/media/qbittorrent/cross-seed/configs/config.js
Labels: area/kubernetes

feat(helm): update chart vector to 0.22.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.31.0 (#453)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.22.0 (#454)
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 4e70230
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes
