Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat: bonded interfaces
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
  kubernetes/apps/networking/multus/configs/networkattachment.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.601
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update allenporter/flux-local action to 3.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.1.3837
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.35
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix: shlink memory issues
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

feat: replicate nostr-relay & libreddit
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/bazarr to 80fbe89
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.602
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.2.0
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: cloudnative-pg backups & others
  kubernetes/apps/databases/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

feat: arr dark themes
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 7070b10
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr-develop to 0230f75
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to fc988b2
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v37.6.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image redis to v17.14.6
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: testing unifi syslog
  kubernetes/apps/monitoring/vector/aggregator/configs/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore: rename rook-ceph operator to app
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore: move vector to layer3
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.8.1
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy echo-server; network fixes & vector unifi logs
  README.md
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/kustomization.yaml
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/loadbalancerippool.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/configs/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/configs/gatus.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/ks.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.2.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.603
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore(container): update image ghcr.io/lldap/lldap to 03605d8
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 5dd8a76
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix: redis ks dependencies
  kubernetes/apps/default/shlink/ks.yaml
  kubernetes/apps/networking/blocky/ks.yaml
Labels: area/kubernetes

fix: remove worker pins
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.604
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.8
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.11.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.15.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n to v1.2.0
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.2.1
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.605
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add btn to xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.609
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.610
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes
