Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.1 (#661)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat: update flux to v2.0.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat: update flux to v2.0.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat: update flux to v2.0.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

chore: github actions housekeeping
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
Labels: area/github

chore: github actions housekeeping
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
Labels: area/github

chore: github actions housekeeping
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
Labels: area/github

chore: testing renovate on grafana links
  .github/renovate.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: testing renovate on grafana links
  .github/renovate.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: testing renovate on grafana links
  .github/renovate.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.0 (#663)
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: monitor theme-park from gatus
  kubernetes/apps/default/theme-park/app/configs/gatus.yaml
  kubernetes/apps/default/theme-park/app/kustomization.yaml
Labels: area/kubernetes

feat: monitor theme-park from gatus
  kubernetes/apps/default/theme-park/app/configs/gatus.yaml
  kubernetes/apps/default/theme-park/app/kustomization.yaml
Labels: area/kubernetes

feat: monitor theme-park from gatus
  kubernetes/apps/default/theme-park/app/configs/gatus.yaml
  kubernetes/apps/default/theme-park/app/kustomization.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.3.2
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.2
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.2 (#665)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.3.2 (#664)
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.24.6
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.24.6 (#666)
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: kyverno background controller rbac
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix: kyverno background controller rbac
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix: kyverno background controller rbac
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux action digest
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix: flux action digest
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix: flux action digest
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix: readme commit link
  README.md
Labels: none

fix: readme commit link
  README.md
Labels: none

fix: readme commit link
  README.md
Labels: none

fix(container): update image weave-gitops to v4.0.25
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix: alertmanager name in dashboard
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: alertmanager name in dashboard
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: alertmanager name in dashboard
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.25 (#667)
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.23.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.23.0 (#668)
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes
