Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

chore(talos): clean up env variables
  talos/talconfig.yaml
  talos/talenv.yaml
Labels: area/talos

fix(qbtools): cleaning the cow udders
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
Labels: area/kubernetes

fix(talos): kubelet csr approver dns
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Rook/templates/wipediskjob.tmpl.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/apps/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes, area/talos, area/taskfiles

fix(grafana): cnpg dashboard
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): redis dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(smtp-relay): move ports to 587
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
Labels: area/kubernetes

fix(renovate): pin flux-local to semver
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

chore(exporters): clean up prometheus-snmp-exporter
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

feat(taskfiles): add alertmanager silences
  .taskfiles/Alertmanager/Taskfile.yaml
  .taskfiles/Alertmanager/silences/cephmonclockskew.json
  .taskfiles/Alertmanager/silences/cephnodediskspacewarning.json
  .taskfiles/Alertmanager/silences/cephnodenetworkpacketdrops.json
  .taskfiles/Alertmanager/silences/cephnodenetworkpacketerrors.json
  Taskfile.yaml
Labels: area/taskfiles

chore(kubernetes): house keeping
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/pvc.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(tf-controller): aws primatives moved
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(monitoring): yoink the good shit
  .taskfiles/Alertmanager/Taskfile.yaml
  .taskfiles/Alertmanager/silences/cephmonclockskew.json
  .taskfiles/Alertmanager/silences/cephnodediskspacewarning.json
  .taskfiles/Alertmanager/silences/cephnodenetworkpacketdrops.json
  .taskfiles/Alertmanager/silences/cephnodenetworkpacketerrors.json
  Taskfile.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/tools/kustomization.yaml
Labels: area/kubernetes, area/taskfiles

fix(unpackerr): logs to stdout
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

chore(snmp-exporter): clean up exporters
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/dashboards/cyberpower-ups-dashboard.json
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/configs/snmp.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/configs/snmp.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/kustomization.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/kustomization.yaml
Labels: area/kubernetes

chore(kubernetes): doubt these are needed
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/helmrelease.yaml
  talos/apps/coredns/kustomization.yaml
Labels: area/kubernetes, area/talos

chore(kubernetes): doubt these are needed
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(snmp-exporter): manage mibs for now
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/configs/snmp.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/kustomization.yaml
Labels: area/kubernetes

fix(snmp-exporter): please work baby
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/configs/snmp.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(kromgo): move to monitoring ns
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/configs/config.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore(plex): clean up pmm external secret
  kubernetes/apps/media/plex/tools/meta-manager/externalsecret.yaml
Labels: area/kubernetes

feat(kps): add ttl to pushover alertmanager
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes

feat(kps): add ttl to pushover alertmanager
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
Labels: area/kubernetes

fix(hass): remove ecovacs
  kubernetes/apps/home/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

fix(pmm): lots of errors; nightly has the fixes
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

fix(pmm): remove tv episode operations
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
Labels: area/kubernetes

chore(cloudflared): always connect over ipv6
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): move dmarc quarantine to cloudflare
  terraform/cloudflare/domain_ktwo.tf
Labels: area/terraform

chore(qb): clean up xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(qb): clean up xseed
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(nfd): add system source
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(suc): use the system os version node selector
  .github/renovate/customManagers.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/github, area/kubernetes

chore(nfd): alphabets are hard at night
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(suc): clean up selectors
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

chore(suc): clean up tolerations
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(suc): use talos drain only
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(monitoring): blackbox exporter alert
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(atuin): upgrade to app-template 3x
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

chore(atuin): upgrade to app-template 3x
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): new app-template forces -app service name
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(vector): add kubernetes sink compression
  kubernetes/apps/monitoring/vector/agent/configs/vector.yaml
Labels: area/kubernetes
