Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

fix(talos): remove duplicate schematic generation task and fix e1000e bond issue
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  talos/node-mapping.yaml
  talos/schematics/EQ12.yaml
  talos/schematics/ITX.yaml
  talos/schematics/NUC7.yaml
  talos/schematics/P520.yaml
  talos/static-configs/home01.yaml
  talos/static-configs/home03.yaml
  talos/static-configs/home04.yaml
  talos/static-configs/home05.yaml
Labels: area/talos, area/taskfile

fix: add i915 extension
  talos/schematics/EQ12.yaml
  talos/schematics/ITX.yaml
Labels: area/talos

chore: mlk is me
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

chore: uppercase tracker names
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

chore: remind spoodermon alerts every hour
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

chore: update talos to v1.11.0-beta.2
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

chore: renovate tf
  .renovate/groups.json5
  .renovate/talosFactory.json5
  .renovaterc.json5
  .taskfiles/talos/Taskfile.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml.j2
Labels: area/kubernetes, area/talos, area/taskfile

chore: renovate tf (#4095)
  .renovate/groups.json5
  .renovate/talosFactory.json5
  .renovaterc.json5
  .taskfiles/talos/Taskfile.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml.j2
Labels: area/kubernetes, area/talos, area/taskfile

chore: opps version
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

chore: add new manager file pattern regex
  .renovaterc.json5
Labels: none

chore: generate talos schematic better?
  .taskfiles/talos/Taskfile.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml.j2
Labels: area/talos, area/taskfile

chore: talos schematics
  .taskfiles/talos/Taskfile.yaml
  talos/controlplane/192.168.10.10.yaml
  talos/controlplane/192.168.10.11.yaml
  talos/controlplane/192.168.10.12.yaml
  talos/machineconfig.yaml.j2
Labels: area/talos, area/taskfile

feat: helmfile bootstrap crds
  .taskfiles/bootstrap/Taskfile.yaml
  bootstrap/crds/helmfile.yaml
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  talos/machineconfig.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/talos, area/taskfile

feat: helmfile bootstrap crds
  bootstrap/crds/helmfile.yaml
Labels: area/bootstrap

feat: helmfile bootstrap crds
  bootstrap/helmfile.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/components/gatus/kustomization.yaml
  kubernetes/components/gatus/resources/config.yaml
  kubernetes/components/keda/nfs-scaler/kustomization.yaml
  kubernetes/components/keda/nfs-scaler/scaledobject.yaml
Labels: area/bootstrap, area/kubernetes

feat: helmfile bootstrap crds
  bootstrap/crds/helmfile.yaml
  bootstrap/helmfile.yaml
Labels: area/bootstrap

feat: helmfile bootstrap crds
  bootstrap/crds/helmfile.yaml
Labels: area/bootstrap

feat: helmfile bootstrap crds
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: helmfile bootstrap crds
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/settings.json
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap, area/taskfile

feat: helmfile bootstrap crds
  kubernetes/apps/kube-system/gateway-api-crds/app/helmrelease.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/kustomization.yaml
  kubernetes/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: helmfile bootstrap crds
  kubernetes/apps/networking/tailscale-operator/app/helmrelease.yaml
  kubernetes/apps/observability/keda/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: helmfile bootstrap crds
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

feat: helmfile bootstrap crds
  bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap

feat: helmfile bootstrap crds
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat: helmfile bootstrap crds
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat: helmfile bootstrap crds
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat: helmfile bootstrap crds (#4101)
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/settings.json
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/helmrelease.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/kustomization.yaml
  kubernetes/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/networking/tailscale-operator/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/keda/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/components/gatus/kustomization.yaml
  kubernetes/components/gatus/resources/config.yaml
  kubernetes/components/keda/nfs-scaler/kustomization.yaml
  kubernetes/components/keda/nfs-scaler/scaledobject.yaml
  talos/machineconfig.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/talos, area/taskfile

chore: clean up dependencies
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
  kubernetes/apps/networking/tailscale-operator/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/keda/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

chore: renovate
  .renovaterc.json5
Labels: none

chore: renovate
  .renovate/groups.json5
Labels: none

chore: move oci charts renovate grouping to separate file
  .renovate/groups.json5
  .renovate/ociChartGroups.json5
  .renovaterc.json5
Labels: none

chore: bootstrap tasks
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/taskfile

chore: arc defaults
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore: override depname for helmfile to packagename
  .renovate/allowedVersions.json5
  .renovate/ociChartGroups.json5
  .renovate/overrides.json5
  .renovaterc.json5
Labels: none

chore: helmfile.d yay
  .renovaterc.json5
Labels: none

Update autoMerge.json5
  .renovate/autoMerge.json5
Labels: none

chore: talos to v1.11.0-rc.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore: maybe renovate things
  .renovate/overrides.json5
  .renovate/semanticCommits.json5
Labels: none

chore: maybe renovate things
  .renovate/overrides.json5
Labels: none

chore: test image
  talos/machineconfig.yaml.j2
Labels: area/talos

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml
