Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container)!: Update image ghcr.io/linuxserver/overseerr to v2021
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/deluge to v18
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/overseerr to v2021
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/deluge to v18
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/overseerr to v2021
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/radarr to nightly-4.4.3.7022-ls456
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/radarr to nightly-4.4.3.7022-ls456
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/radarr to nightly-4.4.3.7022-ls456
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/deluge to v18
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/overseerr to v2021
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/radarr to nightly-4.4.3.7025-ls456
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/radarr to nightly-4.4.3.7025-ls456
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/radarr to nightly-4.4.3.7025-ls456
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.17
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.17
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.17
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: adding helm release actions + labels
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

feat: adding helm release actions + labels
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

feat: adding helm release actions + labels
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

feat: adding helm release actions + labels
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

feat: adding helm release actions + labels
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

feat: adding helm release actions + labels
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

fix: license
  LICENSE
Labels: none

fix: license
  LICENSE
Labels: none

fix: license
  LICENSE
Labels: none

feat: testing helmrelease action
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: testing helmrelease action
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: testing helmrelease action
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: testing helmrelease action
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: testing helmrelease action
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: testing helmrelease action
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: main -> master
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

fix: main -> master
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

fix: main -> master
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

feat(helm): update chart loki to 4.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 4.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 4.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes
