Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(helm): update chart grafana to 6.58.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image prometheus-blackbox-exporter to v8
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.1 (#677)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image prometheus-blackbox-exporter to v8 (#678)
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.3
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.3 (#680)
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.5.0 (#679)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: cnpg + democratic-csi-local-path; house keeping
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-path/kustomization.yaml
  kubernetes/apps/democratic-csi/kustomization.yaml
  kubernetes/apps/democratic-csi/namespace.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/n8n/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/cloudve-charts.yaml
  kubernetes/flux/repositories/helm/democratic-csi-charts.yaml
  kubernetes/flux/repositories/helm/enix-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/minio-charts.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

feat: cnpg + democratic-csi-local-path; house keeping
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-path/kustomization.yaml
  kubernetes/apps/democratic-csi/kustomization.yaml
  kubernetes/apps/democratic-csi/namespace.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/n8n/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/cloudve-charts.yaml
  kubernetes/flux/repositories/helm/democratic-csi-charts.yaml
  kubernetes/flux/repositories/helm/enix-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/minio-charts.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

feat: cnpg + democratic-csi-local-path; house keeping
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-path/kustomization.yaml
  kubernetes/apps/democratic-csi/kustomization.yaml
  kubernetes/apps/democratic-csi/namespace.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/n8n/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/cloudve-charts.yaml
  kubernetes/flux/repositories/helm/democratic-csi-charts.yaml
  kubernetes/flux/repositories/helm/enix-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/minio-charts.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to f5aea87
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to f5aea87
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to f5aea87
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.3
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image redis to v17.11.8
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-snmp-exporter to v1.6.0
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.555
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.3 (#681)
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.11.8 (#682)
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.2 (#683)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-snmp-exporter to v1.6.0 (#684)
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.555 (#685)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.6.1 (#686)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update flux group to v2.0.1
  .github/workflows/helmrepository-sync.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

fix(github-action): update flux group to v2.0.1 (patch) (#687)
  .github/workflows/helmrepository-sync.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

feat: move to l2 announcements
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/loadbalancerippool.yaml
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/kustomization.yaml
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/loadbalancerippool.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
  talos/talenv.sops.yaml
Labels: area/kubernetes

feat: move to l2 announcements
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/loadbalancerippool.yaml
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/kustomization.yaml
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/loadbalancerippool.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
  talos/talenv.sops.yaml
Labels: area/kubernetes

feat: move to l2 announcements
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/loadbalancerippool.yaml
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/kustomization.yaml
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
  kubernetes/apps/kube-system/cilium/configs/loadbalancerippool.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
  talos/talenv.sops.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 8ded563
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 8ded563
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 8ded563
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes
