Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(kubernetes): update topology spread constraints
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(qbittorrent): xseed use prowlarr api key as env
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

fix(cloudnative-pg): disable synchronous_commit
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(blocky): dns upstream servers
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(kubernetes): remove image pull policy
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): remove kustomization patches
  .github/renovate.json5
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/patches/kustomizeconfig.yaml
  kubernetes/apps/monitoring/vector/agent/kustomization.yaml
  kubernetes/apps/monitoring/vector/agent/patches/kustomizeconfig.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/apps/monitoring/vector/aggregator/patches/kustomizeconfig.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/patches/kustomizeconfig.yaml
Labels: area/github, area/kubernetes

chore(blocky): update lists
  kubernetes/apps/networking/blocky/app/configs/allowlist.txt
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(plex): move to stable
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): grafana versioning template
  .github/renovate/customManagers.json5
Labels: area/github

chore(renovate): update config
  .github/renovate.json5
Labels: area/github

chore(kubernetes): pin digest
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): pin digest
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(blocky): remove allowlists
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(blocky): increase min time caching
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(mosquitto): change image repository
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(mbpfan): fick of hearing the fans
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
Labels: area/kubernetes

fix(descheduler): tune pod limits
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(descheduler): tune pod limits
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): remove random quotes
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(exporters): update scrape timeouts
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): combine into one hr
  kubernetes/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): add timezone to cronjobs
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update action workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(github): update renovate
  .github/renovate.json5
Labels: area/github

chore(qbtools): add config
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/kustomization.yaml
Labels: area/kubernetes

chore(kubernetes): change label selectors
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(tailscale): high availability
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/rbac.yaml
Labels: area/kubernetes

chore(blocky): add health check
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(kps): add alertmanager pushover ttl
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
Labels: area/kubernetes

chore(kps): remove am pushover ttl
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
Labels: area/kubernetes

chore(blocky): change health check
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): general house keeping
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
Labels: area/kubernetes

chore(vscode): change settings
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  .vscode/extensions.json
  .vscode/settings.json
Labels: area/github

chore(github): update readme
  README.md
Labels: none

feat(arc): new actions runner container
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-ks-sync.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(system-upgrade-controller): run health checks locally
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(github): change home internet icon
  README.md
Labels: none

fix(arr): use tmp emptydirs
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes): deploy kromgo
  kubernetes/apps/default/kromgo/app/configs/config.yaml
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore(kubernetes): add thanos cache; more metrics
  kubernetes/apps/default/kromgo/app/configs/config.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
