Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(blocky): reduce memory footprint
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(sdm): convert jank to yaml
  .github/workflows/flux-image-test.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/conf.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/kustomization.yaml
Labels: area/github, area/kubernetes

chore(sdm): convert jank to yaml (#1858)
  .github/workflows/flux-image-test.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/conf.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/kustomization.yaml
Labels: area/github, area/kubernetes

test
  kubernetes/apps/kube-system/smarter-device-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(vector): remove random white space
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(media): replace overseerr with jellyseerr
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/volsync.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/monitoring/exporters/kustomization.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update read me images
  README.md
Labels: none

fix(cnpg): turn back on sync commits
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(loki): disable network policies
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(kube): deploy fstrim with special container
  kubernetes/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/apps/kube-system/fstrim/app/kustomization.yaml
  kubernetes/apps/kube-system/fstrim/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(media): jellyseerr is not ready for prod
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/monitoring/exporters/kustomization.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): we love house keeping
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(taskfiles/talos): clean up tasks
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  talos/apps/cilium/kustomization.yaml
  talos/apps/coredns/kustomization.yaml
  talos/apps/kubelet-csr-approver/kustomization.yaml
Labels: area/talos, area/taskfiles

chore(taskfiles): update talos task
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfiles

feat(overseerr): add cache volume
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): clean up claims
  kubernetes/apps/home/mosquitto/app/claim.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/claim.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/claim.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/claim.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
Labels: area/kubernetes

fix(tailscale): i really hate this
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

feat(kps): upgrade alertmanager to rc
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): house keeping ks resources
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/node-red/app/kustomization.yaml
  kubernetes/apps/home/thelounge/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/tools/meta-manager/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
Labels: area/kubernetes

chore(suc): reduce health check wait timeout
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(kps): ttl still not in upstream
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(kps): update some values
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/kube-state-metrics.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore(taskfiles): house keeping
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfiles

chore(cilium): house keeping
  kubernetes/apps/kube-system/cilium/configs/kustomization.yaml
  kubernetes/apps/kube-system/cilium/configs/l2.yaml
  kubernetes/apps/kube-system/cilium/configs/l3.yaml
  kubernetes/apps/kube-system/cilium/configs/pool.yaml
Labels: area/kubernetes

chore(github): clean up read me
  README.md
Labels: none

chore(github): update dynamic image colors
  README.md
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

feat(kubernetes): move to kubanetics images
  kubernetes/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

chore(kubernetes): revert for now
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(qbtools): lets see if its jank
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

feat(qbtools): its not jank
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

chore(cnpg): always reuse pvc for maint
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(taskfiles): simple quote house keeping
  .taskfiles/Rook/templates/wipedatajob.tmpl.yaml
  .taskfiles/Rook/templates/wipediskjob.tmpl.yaml
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
Labels: area/taskfiles

chore(kuberenetes): simple quote house keeping
  kubernetes/apps/flux-system/addons/monitoring/podmonitor.yaml
  kubernetes/apps/flux-system/addons/notifications/alertmanager/alert.yaml
  kubernetes/apps/monitoring/vector/agent/configs/vector.yaml
Labels: area/kubernetes

chore(github): update network diagram
  README.md
Labels: none

feat(cloudflared): move to host networking
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): update tracker seeding rules
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
Labels: area/kubernetes

fix(mosquitto): move to block storage
  kubernetes/apps/home/mosquitto/app/claim.yaml
Labels: area/kubernetes

fix(taskfiles): use nsenter for rook wipe
  .taskfiles/Rook/templates/wipediskjob.tmpl.yaml
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfiles

feat(qb): add xseed milkie tracker
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
Labels: area/kubernetes

fix(kyverno): update some policies
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
