Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

feat(blocky): add ede dns responses
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(suc): clean up plans
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(blocky): tailscale does not like this
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

Revert "fix(container): update redis (18.6.3 → 18.6.4) (#1704)"
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(media): deprecate media pvc
  kubernetes/apps/media/_pvc/ks.yaml
  kubernetes/apps/media/_pvc/media/kustomization.yaml
  kubernetes/apps/media/_pvc/media/persistentvolume.yaml
  kubernetes/apps/media/_pvc/media/persistentvolumeclaim.yaml
  kubernetes/apps/media/_pvc/media/storageclass.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

chore(github): update readme
  README.md
Labels: none

chore(github): add .krmignore
  .krmignore
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/conf.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/kustomization.yaml
Labels: area/kubernetes

test krmignore
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

test krmignore
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/.krmignore
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/conf.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/kustomization.yaml
Labels: area/kubernetes

test krmignore
  .krmignore
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/.krmignore
Labels: area/kubernetes

test krmignore
  .krmignore
Labels: none

chore(qbtools): update config
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
Labels: area/kubernetes

chore(xseed): update config
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

chore(qbtools): clean up helmrelease
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): qbittorrent-exporter dashboard datasource
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(kubernetes): update health probes
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix(cloudflared): change protocol to http2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(cloudflared): test out auto sni
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(cloudflared): test out auto sni
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(monitoring): ingress path types
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(networking): good bye nginx
  README.md
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/ingress-nginx-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(talos): add additional cert sans
  talos/talconfig.yaml
Labels: area/talos

fix(sops): add talos sops match
  .sops.yaml
Labels: none

feat(cloudflared): use auto sni image
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(taskfiles): update talos tasks
  .taskfiles/Talos/Taskfile.yaml
  talos/README.md
Labels: area/talos, area/taskfiles

chore(media): remove nit dependencies
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
Labels: area/kubernetes

fix(blocky): postgres database version
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
Labels: area/kubernetes

chore(unpackerr): switch to upstream image
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

chore(sdm): try without host network
  kubernetes/apps/kube-system/smarter-device-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(volsync): security context
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
Labels: area/kubernetes

chore(vars): rename snapshot classes
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(cloudflare): remove link branding
  terraform/cloudflare/records.tf
Labels: area/terraform

chore(talos): service discovery not needed
  talos/talconfig.yaml
Labels: area/talos

feat(terraform): clean up tf states
  terraform/cloudflare/cache.tf
  terraform/cloudflare/domain_ktwo.tf
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/modules/cf_domain/cache.tf
  terraform/cloudflare/modules/cf_domain/dns.tf
  terraform/cloudflare/modules/cf_domain/main.tf
  terraform/cloudflare/modules/cf_domain/transform.tf
  terraform/cloudflare/modules/cf_domain/variables.tf
  terraform/cloudflare/modules/cf_domain/waf.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/records.tf
  terraform/cloudflare/rules.tf
  terraform/cloudflare/zone.tf
Labels: area/terraform

chore(terraform): remove trailing dots
  terraform/cloudflare/domain_ktwo.tf
Labels: area/terraform

chore(terraform): clean up tf states
  terraform/cloudflare/domain_ktwo.tf
Labels: area/terraform

fix(renovate): remove global reserved option
  .github/renovate.json5
Labels: area/github

fix(terraform): waf skip rules
  terraform/cloudflare/domain_ktwo.tf
Labels: area/terraform

fix(terraform): reorder waf rules
  terraform/cloudflare/domain_ktwo.tf
  terraform/cloudflare/modules/cf_domain/waf.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
