Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(github-action): update tj-actions/changed-files action to v35.7.11
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-or-update-comment action to v3.0.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-or-update-comment action to v3.0.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-or-update-comment action to v3.0.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-or-update-comment action to v3.0.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore: renovate
  .github/renovate.json5
Labels: area/github

chore: renovate
  .github/renovate.json5
Labels: area/github

chore: renovate
  .github/renovate.json5
Labels: area/github

chore: thanos; cluster storage class
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos; cluster storage class
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos; cluster storage class
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: grafana -> thanos
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: grafana -> thanos
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: grafana -> thanos
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: vpa -> thanos
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

chore: vpa -> thanos
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

chore: vpa -> thanos
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

chore: loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: thanos
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: plex
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore: plex
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore: plex
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore: talos
  talos/talconfig.yaml
Labels: none

chore: talos
  talos/talconfig.yaml
Labels: none

chore: talos
  talos/talconfig.yaml
Labels: none

chore: tdarr
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 9a9d4a9
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 9a9d4a9
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
