Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

fix(grafana): internal only
  kubernetes/apps/monitoring/grafana/app/configs/gatus.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.3
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(kubernetes): nfs supplemental group
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v40.0.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.2
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes): deploy atuin
  kubernetes/apps/home/atuin/app/externalsecret.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/kustomization.yaml
  kubernetes/apps/home/atuin/ks.yaml
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v52.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(mosquitto): persistence location
  kubernetes/apps/home/mosquitto/app/configs/mosquitto.conf
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): sorting yaml keys
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(mosquitto): pod security context
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.2.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(onepassword-connect): pod security context
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): house keeping
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.2.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-validation-webhook to 1.9.0
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart snapshot-controller to 2.0.0
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.36.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.703
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.7
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.32.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/nodered/node-red to bd1091b
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): remove unused groups
  .github/renovate/groups.json5
Labels: area/github

chore(container): update image docker.io/nodered/node-red to bd1091b
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboard): update dashboard node exporter full to revision 33
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/atuinsh/atuin to v17.0.1
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart grafana to 7.0.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.1.4059
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.2.8207
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): remove plex cache rules
  terraform/cloudflare/cache.tf
Labels: area/terraform

feat(cilium): testing ingress controller
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/configs/ciliumclusterwideenvoyconfig.yaml
  kubernetes/apps/kube-system/cilium/configs/kustomization.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(helm): update chart democratic-csi to 0.14.2
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.2
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfiles

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.708
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): plex cache settings
  terraform/cloudflare/cache.tf
Labels: area/terraform

fix(container): update image docker.io/restic/restic to v0.16.2
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfiles

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.1.4059
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.2.8207
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.708
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes
