Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(helm): update chart reloader to 1.0.37
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.2.2
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.3.3880
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.38
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.644
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.6
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.11.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: uptimerobot rate limiting
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.3.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.3.0
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/vector to v0.32.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.2.3
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.645
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/1password/connect-api to v1.7.2
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/1password/connect-sync to v1.7.2
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.3.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/theme-park to 1a6c230
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.3.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gha-runner-scale-set to v0.5.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gha-runner-scale-set-controller to v0.5.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: gha runner
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-snmp-exporter to v1.8.0
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.17
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittools orphaned
  kubernetes/apps/media/qbittorrent/qbittools/kustomization.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.11
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/buroa/qbittools to d383fe2
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/buroa/qbittools to 047fd85
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat: qbittools orphaned auto confirm
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat: qbittools orphaned auto confirm
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/buroa/qbittools to 25846b6
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/buroa/qbittools to 5c3e01b
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/buroa/qbittools to f88ea4c
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.3.0
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tailscale/tailscale to v1.48.1
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.646
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.13.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: none

feat(github-action)!: Update tj-actions/changed-files action to v38.0.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore(container): update image ghcr.io/buroa/qbittools to f978426
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat: update qbittools to v0.3.1
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/buroa/qbittools to dfec11a
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes
