Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(helm): update chart grafana to 6.58.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: cilium flux diff
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

feat: adding hds to xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

fix(helm): update chart external-secrets to 0.9.3
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.4
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/vector to v0.32.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.2
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.629
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: thelounge volsync namespace
  kubernetes/apps/home/thelounge/app/volsync.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.12.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to b595cf0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat: adding incomplete dir; affinity rules
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.13.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: specify conbee device by serial id
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.6.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image weave-gitops to v4.0.28
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.2.0
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

feat: ensure reannounce process seeds as well
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.16
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.16 (#880)"
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.16
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix: mosquitto derpness
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.16
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.11.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.5
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: adding rss cadence to xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.630
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.14.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image registry.k8s.io/git-sync/git-sync to v4
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat: only use rss cadence for xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix: baudrate for deconz
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.631
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: adding phd to xseeds
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.637
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.640
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.641
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.642
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
