Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

fix(container): update image kube-prometheus-stack to v51.9.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update talos group to v1.5.4
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(container): update image ghcr.io/siderolabs/i915-ucode to v20230919
  talos/talconfig.yaml
Labels: area/talos

feat(helm): update chart loki to 5.32.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana-dashboard)!: Update dashboard Node Exporter Full to v32
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: more grafana renovate things
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore(grafana-dashboard): update dashboard blocky-postgres to revision 11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboard): update dashboard kubernetes / system / api server to revision 14
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboard): update dashboard kubernetes / system / coredns to revision 13
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboard): update dashboard kubernetes / views / global to revision 31
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboard): update dashboard kubernetes / views / namespaces to revision 27
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboard): update dashboard kubernetes / views / nodes to revision 19
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: more grafana renovate things
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.17.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart reloader to 1.0.44
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore: material icon folder associations
  .vscode/settings.json
Labels: none

chore(container): update image ghcr.io/onedr0p/exportarr to 7f287de
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.33.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: cluster-settings housekeeping
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to b522e12
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/exportarr to v1.6.0
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/scripts/xseed.sh
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/dashboards/smart-dashboard.json
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/dashboards/synology-snmp-dashboard.json
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(helm): update chart loki to 5.34.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/scripts/xseed.sh
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/dashboards/smart-dashboard.json
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/dashboards/synology-snmp-dashboard.json
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(github-release): update kubernetes/kubernetes to 1.28.3
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

chore(grafana-dashboard): update dashboard kubernetes / views / pods to revision 22
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.3
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(container): update image kube-prometheus-stack to v51.9.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: set cpu to performance
  talos/talconfig.yaml
Labels: area/talos

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.12
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.45
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy omegabrr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
  kubernetes/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/apps/media/omegabrr/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"
