Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(github-action): update tj-actions/changed-files action to v37.0.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.1.0
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.1.0
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.1.0
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.8
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.8 (#626)
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.57.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.57.4 (#627)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.547
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.547 (#628)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-blackbox-exporter to v7.12.0
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-blackbox-exporter to v7.12.0 (#629)
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image tdarr to v2.00.21
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image tdarr to v2.00.21
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image tdarr to v2.00.21
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.29
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.29 (#630)
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/n8n-io/n8n to v1
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/n8n-io/n8n to v1 (#631)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.0.4
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.4
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.4
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

fix: authelia patch namespace
  kubernetes/apps/security/authelia/app/patches/env.yaml
Labels: area/kubernetes

fix: authelia patch namespace
  kubernetes/apps/security/authelia/app/patches/env.yaml
Labels: area/kubernetes

fix: authelia patch namespace
  kubernetes/apps/security/authelia/app/patches/env.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v47.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v47.0.1 (#632)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: deprecate grafana image render
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: deprecate grafana image render
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: deprecate grafana image render
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548 (#633)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.1.0 (#634)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.3.3608
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
