Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.36.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(cross-seed): switch to semver
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(tailscale): advertise exit node
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v40.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.7.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.36.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(arc): upstream gha runner container
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(github): cleanup self hosted workflows
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore(taskfiles): rename internal volsync tasks
  .taskfiles/volsync/tasks.yaml
Labels: area/taskfiles

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.7
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.2.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): house keeping changes
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  .github/workflows/release.yaml
  README.md
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 65514df
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.9.4
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.8.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(autobrr): debug logs
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/vector to v0.34.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.1
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): improve release workflow
  .github/workflows/release.yaml
Labels: area/github

fix(taskfiles): volsync namespace variable
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: area/taskfiles

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.51
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(cross-seed): disable api auth
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(cnpg): use seperate r2 credentials
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
Labels: area/kubernetes

chore(loki): update helm release
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.2.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.14.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.34
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.3.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(autobrr): switch to personal develop
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update talos group to v1.5.5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(github): more file matches
  .github/renovate.json5
Labels: area/github

fix(container): update talos group to v1.5.5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(autobrr): switch to personal develop
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes
