Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore: test image
  .renovate/groups.json5
Labels: none

chore: test image
  .renovate/overrides.json5
Labels: none

chore: test image
  .renovate/overrides.json5
Labels: none

chore: test image
  .renovate/groups.json5
  talos/machineconfig.yaml.j2
Labels: area/talos

chore: update renovate stuff
  .renovate/overrides.json5
Labels: none

chore: use values directly from HRs in bootstrap
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/values.yaml.gotmpl
  kubernetes/apps/flux-system/flux-instance/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
Labels: area/bootstrap, area/kubernetes

chore: ceph updates
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: ceph updates
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: ceph updates
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: cant have this anchor
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix: devin was right - overseerr g2g
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/apps/networking/external-dns/unifi/externalsecret.yaml
  kubernetes/apps/networking/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale-operator/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
Labels: area/kubernetes

fix: devin was right - overseerr g2g
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: devin was right - overseerr g2g
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
Labels: area/kubernetes

fix: devin was right - overseerr g2g
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/media/overseerr/ks.yaml
Labels: area/kubernetes

chore: nits
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap

chore: nits
  talos/machineconfig.yaml.j2
Labels: area/talos

feat(talos): add watchdog timer
  talos/controlplane/192.168.10.10.yaml
  talos/controlplane/192.168.10.11.yaml
  talos/controlplane/192.168.10.12.yaml
Labels: area/talos

chore(kps): steal devins config
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

chore(talos): move things around
  talos/controlplane/192.168.10.10.yaml
  talos/controlplane/192.168.10.11.yaml
  talos/controlplane/192.168.10.12.yaml
  talos/machineconfig.yaml.j2
Labels: area/talos

Update ks.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes

chore(bootstrap): fix the things
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/settings.json
  bootstrap/helmfile.d/00-crds.yaml
  talos/schematic.yaml.j2
Labels: area/bootstrap, area/talos, area/taskfile
