Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore(flux): i guess its needed
  kubernetes/apps/flux-system/flux-instance/app/receiver/receiver.yaml
Labels: area/kubernetes

chore(cloudflared): clean up
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): clean up
  README.md
Labels: none

chore(multus): sbr routing
  kubernetes/apps/networking/multus/networks/iot.yaml
Labels: area/kubernetes

chore(cilium): set devices again
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

feat(external-dns): gateway name flag
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): jank post renders
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): jank post renders
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): jank post renders
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): jank post renders (#3553)
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): yeet external-dns charts
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/cloudflare/rbac.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/kustomization.yaml
  kubernetes/apps/networking/external-dns/unifi/rbac.yaml
  kubernetes/flux/meta/repositories/helm/external-dns.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(external-dns): yeet external-dns charts
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): yeet external-dns charts
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): yeet external-dns charts
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/cloudflare/rbac.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/kustomization.yaml
  kubernetes/apps/networking/external-dns/unifi/rbac.yaml
  kubernetes/flux/meta/repositories/helm/external-dns.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(multus): move crd to talos
  kubernetes/apps/networking/multus/app/kustomization.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

chore(grafana): external secrets dash
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(flux): convert all to oci
  bootstrap/helmfile.yaml
Labels: area/bootstrap

chore(flux): move app-template to common repo
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/repositories/app-template.yaml
  kubernetes/components/common/repositories/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/meta/kustomization.yaml
  kubernetes/flux/meta/repositories/git/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/kustomization.yaml
Labels: area/kubernetes

chore(renovate): use minimumReleaseAge instead for all actions
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore(renovate): idk
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

chore(external-dns): move to upstream image
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

chore(external-dns): move to upstream image
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): updates
  .github/renovate.json5
Labels: area/github

chore(renovate): add more auto merging
  .github/renovate/autoMerge.json5
Labels: area/github

chore(renovate): add more auto merging
  .github/renovate/autoMerge.json5
Labels: area/github

chore(renovate): add more auto merging
  .github/renovate/autoMerge.json5
Labels: area/github

chore(renovate): remove auto merge
  .github/renovate/autoMerge.json5
Labels: area/github

chore(kubernetes): updates
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): postgres-init to 17.4
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(plex): move to new digest
  .github/renovate.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore(renovate): desc
  .github/renovate/autoMerge.json5
Labels: area/github

Update customManagers.json5
  .github/renovate/customManagers.json5
Labels: area/github

Update grafanaDashboards.json5
  .github/renovate/grafanaDashboards.json5
Labels: area/github

Update groups.json5
  .github/renovate/groups.json5
Labels: area/github

Update extensions.json
  .vscode/extensions.json
Labels: none

chore(media): move to new images
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): move to new images
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): make devin happy
  .github/workflows/renovate.yaml
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
  .vscode/settings.json
Labels: area/github

Create redirect.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
Labels: area/kubernetes
