Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

chore(bootstrap): bye bye sops
  .gitattributes
  .mise.toml
  .sops.yaml
  .taskfiles/workstation/resources/Brewfile
  .vscode/settings.json
  README.md
  Taskfile.yaml
Labels: area/taskfile

chore(talos): i didnt like the . file
  .github/renovate/customManagers.json5
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  talos/talos.env
Labels: area/github, area/talos, area/taskfile

feat(bootstrap): grab authoritative versions from suc
  .github/renovate/customManagers.json5
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/secrets.yaml.tpl
  talos/controlplane.yaml.j2
  talos/talos.env
Labels: area/bootstrap, area/github, area/talos, area/taskfile

chore(talos): use docker for prometheus-operator
  talos/controlplane.yaml.j2
Labels: area/talos

fix(spegel): disable dashboard
  kubernetes/apps/kube-system/spegel/app/resources/values.yaml
Labels: area/kubernetes

fix(grafana): remove spegel dashboard
  kubernetes/apps/kube-system/spegel/app/resources/values.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(taskfiles): talos upgrade yq was wrong
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix(talos): renovate depname was wrong
  talos/controlplane.yaml.j2
Labels: area/talos

chore(talos): im kinda bored @onedr0p
  talos/controlplane/m0.yaml
  talos/controlplane/m1.yaml
  talos/controlplane/m2.yaml
Labels: area/talos

chore(renovate): no need to scan the entire repo
  .github/renovate/customManagers.json5
Labels: area/github

chore(github): update readme
  README.md
Labels: none

feat(gatus): use alertmanager for alerts
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/components/gatus/config.yaml
Labels: area/kubernetes

feat(gatus): use alertmanager for alerts (#3448)
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/components/gatus/config.yaml
Labels: area/kubernetes

fix(gatus): change wording
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
Labels: area/kubernetes

fix(gatus): change wording
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
Labels: area/kubernetes

chore(cloudnative-pg): use a postbuild for versioning
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/tools/kustomization.yaml
Labels: area/github, area/kubernetes

chore(gatus): doesnt depend on external-secrets anymore
  kubernetes/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes

chore(talos): clean up config
  talos/controlplane.yaml.j2
Labels: area/talos

chore(github): update readme
  README.md
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
Labels: area/kubernetes

chore(github): git attributes were wrong
  .gitattributes
Labels: none

fix(github): git attributes were wrong
  .gitattributes
Labels: none

chore(kubernetes): some house keeping things
  .editorconfig
  .gitignore
  talos/controlplane.yaml.j2
Labels: area/talos

fix(github): json5 is a little different
  .gitattributes
Labels: none

chore(taskfiles): everything else is single quotes for jsonpath
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
Labels: area/taskfile

chore(suc): i hate it but whatever
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

chore(github): update renovate config
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix(renovate): copy pasta
  .github/renovate/semanticCommits.json5
Labels: area/github

chore(suc): move to non rc
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): update trackers
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

chore(cross-seed): i have enough xseeds
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
  kubernetes/apps/media/cross-seed/app/resources/config.js
Labels: area/kubernetes

chore(prometheus): chomp newlines on rules
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/apps/media/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/monitoring/blackbox-exporter/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/apps/monitoring/snmp-exporter/app/prometheusrule.yaml
  kubernetes/apps/monitoring/unpoller/app/prometheusrule.yaml
  kubernetes/apps/volsync-system/volsync/app/prometheusrule.yaml
Labels: area/kubernetes

feat(monitoring): do some clean up
  kubernetes/apps/home/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/media/autobrr/app/kustomization.yaml
  kubernetes/apps/media/autobrr/app/prometheusrule.yaml
  kubernetes/apps/media/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/media/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/apps/media/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

feat(monitoring): do some clean up
  kubernetes/apps/media/autobrr/app/prometheusrule.yaml
Labels: area/kubernetes

fix(loki): alerting was busted
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(autobrr): irc is uppercase
  kubernetes/apps/media/autobrr/app/prometheusrule.yaml
Labels: area/kubernetes

chore(loki): fix rules summary
  kubernetes/apps/home/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/media/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
Labels: area/kubernetes

chore(loki): clean up rules
  kubernetes/apps/home/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/media/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/apps/media/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

chore(loki): clean up rules (#3454)
  kubernetes/apps/home/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/media/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/apps/media/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

chore(loki): clean up rules
  kubernetes/apps/home/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/media/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/apps/media/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml
