Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(container): update image kube-prometheus-stack to v48.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart goldilocks to 6.8.0
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart goldilocks to 6.8.0 (#698)
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.2 (#696)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.0.1 (#697)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/maxmind/geoipupdate to v6
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.1.0 (#699)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/maxmind/geoipupdate to v6 (#700)
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat: talos, k8s, and rook tasks
  .taskfiles/k8s/tasks.yaml
  .taskfiles/rook/tasks.yaml
  .taskfiles/talos/tasks.yaml
Labels: none

feat: talos, k8s, and rook tasks
  .taskfiles/k8s/tasks.yaml
  .taskfiles/rook/tasks.yaml
  .taskfiles/talos/tasks.yaml
Labels: none

feat: talos, k8s, and rook tasks
  .taskfiles/k8s/tasks.yaml
  .taskfiles/rook/tasks.yaml
  .taskfiles/talos/tasks.yaml
Labels: none

chore: ks house keeping; enable cilium lrp
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes

chore: ks house keeping; enable cilium lrp
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes

chore: ks house keeping; enable cilium lrp
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.25.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.25.0 (#701)
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: rename democratic-csi local-path to local-hostpath
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/kustomization.yaml
Labels: area/kubernetes

chore: rename democratic-csi local-path to local-hostpath
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/kustomization.yaml
Labels: area/kubernetes

chore: rename democratic-csi local-path to local-hostpath
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.2
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.2 (#702)
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(container): update image docker.io/remirigal/plex-auto-languages to v1.2.2
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.8.4
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-blackbox-exporter to v8.2.0
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/remirigal/plex-auto-languages to v1.2.2 (#703)
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.1.1 (#704)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.8.4 (#705)
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-blackbox-exporter to v8.2.0 (#706)
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat: dns upstream changes
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: dns upstream changes
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: dns upstream changes
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.1.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.1.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.1.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: blocky doh & ingress
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

feat: blocky doh & ingress
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

feat: blocky doh & ingress
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore: house keeping ports
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
