Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

feat(networking): deploy tailscale operator
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/configs/app-connector.yaml
  kubernetes/apps/networking/tailscale/configs/exit-node.yaml
  kubernetes/apps/networking/tailscale/configs/kustomization.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes

chore(media): check speeds
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): check speeds
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): check speeds
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): add nested mounts again
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(xseed): well, thats one way to parse the torrent clients
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/resources/config.js
Labels: area/kubernetes

chore(spegel): clean up mirrors
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes

chore(talos): this is not a valid release for multus wg
  talos/machineconfig.yaml.j2
Labels: area/talos

feat(external-secrets): native 1p sdk
  bootstrap/secrets.yaml.tpl
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/stores/onepassword.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/home/atuin/ks.yaml
  kubernetes/apps/home/go2rtc/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/unpoller/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/bootstrap, area/kubernetes

fix(cross-seed): i think its broke
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/resources/config.js
Labels: area/kubernetes

fix(cross-seed): this v should work
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(cloudflared): use service anchor
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

chore(cilium): i think the cidr is wrong
  kubernetes/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes

chore(coredns): it can figure out the numbers
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

fix(grafana): node exporter dash
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): add a note about the ipv6 address
  kubernetes/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes

chore(talos): upgrade to v1.10.0
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  talos/controlplane/192.168.10.10.yaml
  talos/controlplane/192.168.10.11.yaml
  talos/controlplane/192.168.10.12.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(talos): upgrade to v1.10.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

chore(talos): upgrade to v1.10.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

chore(talos): upgrade to v1.10.0
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

feat(talos): move to v1.10.0 + kreitzer.io
  README.md
  kubernetes/apps/cert-manager/cert-manager/issuers/clusterissuer.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/httproute.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/components/gatus/config.yaml
  talos/controlplane/192.168.10.10.yaml
  talos/controlplane/192.168.10.11.yaml
  talos/controlplane/192.168.10.12.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(talos): not needed
  talos/machineconfig.yaml.j2
Labels: area/talos

fix(suc): i think this is broke
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
Labels: area/kubernetes

feat(talos): increase ring buffers
  talos/machineconfig.yaml.j2
Labels: area/talos

feat(network): move to k13.dev
  README.md
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/clusterissuer.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/httproute.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/components/gatus/config.yaml
Labels: area/kubernetes

feat(network): move to cloudflare
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/components/gatus/config.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(flux): update app-template location
  kubernetes/flux/meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

feat(taskfile): generate the schematic id
  .taskfiles/talos/Taskfile.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml
Labels: area/talos, area/taskfile

Update autoMerge.json5
  .renovate/autoMerge.json5
Labels: none

chore(media): increase downloaders mem sizes
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(media): test out deluge
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/kustomization.yaml
  kubernetes/apps/media/deluge/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

chore(deluge): change incoming port
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

chore(deluge): no difference
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/kustomization.yaml
  kubernetes/apps/media/deluge/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

chore(media): try transmission
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/transmission/app/helmrelease.yaml
  kubernetes/apps/media/transmission/app/kustomization.yaml
  kubernetes/apps/media/transmission/ks.yaml
Labels: area/kubernetes

chore(media): try transmission
  kubernetes/apps/media/transmission/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): try transmission
  kubernetes/apps/media/transmission/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): try transmission
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/transmission/app/helmrelease.yaml
  kubernetes/apps/media/transmission/app/kustomization.yaml
  kubernetes/apps/media/transmission/ks.yaml
Labels: area/kubernetes

chore(talos): unsure if its working
  talos/schematic.yaml
Labels: area/talos

wtf
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

chore(external-dns): opps nit
  .taskfiles/talos/Taskfile.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml
