Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update image redis to v17.16.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore: orphaned parameters
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2023.8.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.4.0
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

chore: orphaned security context
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat: tag duplicate torrents
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.3.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.32.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.15.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.5.0
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.11.3
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: adding qbittools expired
  kubernetes/apps/media/qbittorrent/qbittools/expired/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/expired/kustomization.yaml
  kubernetes/apps/media/qbittorrent/qbittools/kustomization.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v38.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart external-secrets to 0.9.4
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.3.6
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.11.4
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.5.1
  kubernetes/apps/media/qbittorrent/qbittools/expired/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update flux group to v2.1.0
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

feat: upgrade qbittools
  kubernetes/apps/media/qbittorrent/qbittools/expired/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/checkout action to v3.6.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart descheduler to 0.28.0
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.6.1
  kubernetes/apps/media/qbittorrent/qbittools/expired/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: metrics retention
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: node-red dashboard icon
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/wizarrrr/wizarr to v3
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: wizarr monitoring via gatus
  kubernetes/apps/media/wizarr/app/configs/gatus.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
Labels: area/kubernetes

fix: wizarr
  kubernetes/apps/media/wizarr/app/configs/gatus.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/configs/configuration.yml
Labels: area/kubernetes

feat(container): update image redis to v17.17.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.7.0
  kubernetes/apps/media/qbittorrent/qbittools/expired/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.17.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/tautulli to v2.13.0
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade qbittools
  kubernetes/apps/media/qbittorrent/qbittools/expired/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to a0efe0c
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.1
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v38.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: upgrade qbittools
  kubernetes/apps/media/qbittorrent/qbittools/kustomization.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/prune/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/prune/kustomization.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image redis to v18
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes
