Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

chore: i915-ucode and intel-ucode non-semver
  .github/renovate.json5
Labels: area/github

chore(container): update image ghcr.io/wizarrrr/wizarr to 0246b1b
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus to v5.6.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/wizarrrr/wizarr to ce396a6
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.4
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

fix(container): update image redis to v18.1.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.11
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/recyclarr/recyclarr to v6
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: change k8s task image to rolling alpine
  .taskfiles/k8s/tasks.yaml
Labels: none

fix(container): update image ghcr.io/buroa/qbittools to v0.9.5
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade talos alongside custom kernel
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .vscode/settings.json
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/github, area/kubernetes

fix(github-release): update buroa/pkgs to v1.5.3
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

chore: upgrade talos alongside custom kernel
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .vscode/settings.json
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8107
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update siderolabs/talos to v1.5.3
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.6
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.31.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/wizarrrr/wizarr to 5cc95bd
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/wizarrrr/wizarr to f687712
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.3
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: 1password-connect bad yaml anchors
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.4
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: temp. increase fan speeds
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/exportarr to v1.5.5
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image prometheus-snmp-exporter to v1.8.1
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.1
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.16.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: none

fix(container): update image redis to v18.1.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.42
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.24.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.7
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/tailscale/tailscale to v1.50.1
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to e4ef27c
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
