Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image redis to v18.0.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/checkout action to v4.0.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to 6321ae1
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/scsibug/nostr-rs-relay to v0.8.13
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v38.2.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: clean up sysctls
  talos/talconfig.yaml
Labels: none

feat(github-action)!: Update tj-actions/changed-files action to v39.0.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v50.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr to a0d07b1
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: readme update
  README.md
  assets/dns.svg
Labels: none

fix(container): update image ghcr.io/buroa/qbittools to v0.9.2
  kubernetes/apps/media/qbittorrent/qbittools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.7
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

feat: home-assistant imperial unit system
  kubernetes/apps/home/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.14.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart node-problem-detector to 2.3.8
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.40
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.9.3
  kubernetes/apps/media/qbittorrent/qbittools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/nodered/node-red to v3.1.0
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

feat(cloudflare): terraform cache & rules
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/cache.tf
  terraform/cloudflare/rules.tf
  terraform/cloudflare/zone.tf
Labels: none

chore(container): update image ghcr.io/autobrr/autobrr to 9b4f322
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.17.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.18.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore: remove incomplete folders; xseed cleanup
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.9
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.18.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: multi-home qb fix (ft. @onedr0p)
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.59.3
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.10
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.59.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.19.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.14.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to b26a892
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.663
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.664
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.13.1
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.3
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes
