Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(container): update image ghcr.io/onedr0p/exportarr to 623b132
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 623b132
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 623b132
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.11.5
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.25.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.25.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.25.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.11.5 (patch) (#355)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

chore: update readme.md
  README.md
Labels: none

chore: update readme.md
  README.md
Labels: none

chore: update readme.md
  README.md
Labels: none

chore(container): update image ghcr.io/authelia/authelia to e4ad688
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to e4ad688
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to e4ad688
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to cae2b29
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to cae2b29
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to cae2b29
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v0.226.2
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v0.226.2 (#356)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to e09275d
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to e09275d
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to e09275d
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.4.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.4.0 (#357)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n to v0.227.0
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v36.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v36.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v36.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/n8n-io/n8n to v0.227.0 (#358)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.5.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.5.0 (#359)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 0c5cf0e
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 0c5cf0e
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 0c5cf0e
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 8aa48cf
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 8aa48cf
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 8aa48cf
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.0 (#360)
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to da1509c
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes
