Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore: update sex tect (#4046)
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

Update config.yaml
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy spoodermon
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

chore: google has better latency for me
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/components/gatus/config.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore: update spoodermon
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

chore: drop pvc for gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/pvc.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

chore: drop pvc for gatus
  kubernetes/apps/observability/gatus/ks.yaml
Labels: area/kubernetes

chore: drop pvc for gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(spoodermon): add wireguard
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore: maybe
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

chore: maybe
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore(tautulli): fix port
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(tautulli): add es
  kubernetes/apps/media/tautulli/app/externalsecret.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/tautulli/ks.yaml
Labels: area/kubernetes

chore(tautulli): add es
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(tautulli): update env
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(networking): change default ports
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/resources/config.js
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/resources/config.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(networking): change default ports
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

chore(talos): clean up config
  talos/controlplane/192.168.10.10.yaml
  talos/controlplane/192.168.10.11.yaml
  talos/controlplane/192.168.10.12.yaml
Labels: area/talos

chore(talos): image volume features
  talos/machineconfig.yaml.j2
Labels: area/talos

chore(flux): update the pvc component
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

chore(talos): upgrade to v1.11.0-beta.1
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

chore(qb): mount qbrr
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): disable hubble
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): does it work yet
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

chore: update talos machine config
  .taskfiles/talos/Taskfile.yaml
  talos/machineconfig.yaml.j2
Labels: area/talos, area/taskfile

chore: update cilium values
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

chore: flux-local to main
  .github/workflows/image-pull.yaml
Labels: area/github

chore: use correct ip version name
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/grafana/helm-charts/loki (6.34.0 → 6.35.0) (#4055)"
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: update flux-local
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

chore: update talos mc
  talos/machineconfig.yaml.j2
Labels: area/talos

chore: update talos mc
  .gitignore
  .taskfiles/talos/Taskfile.yaml
  talos/schematic.yaml.j2
Labels: area/talos, area/taskfile

chore: dont think this is needed
  kubernetes/apps/media/cross-seed/app/kustomization.yaml
Labels: area/kubernetes

chore: can i do this
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

chore: can i do this
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/resources/mosquitto.conf
Labels: area/kubernetes
