Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore: move autobrr to sqlite
  kubernetes/apps/media/autobrr/app/helmrelease2.yaml
  kubernetes/apps/media/autobrr/app/kustomization.yaml
  kubernetes/apps/media/autobrr/ks.yaml
Labels: area/kubernetes

chore: move autobrr to sqlite
  kubernetes/apps/media/autobrr/app/helmrelease2.yaml
Labels: area/kubernetes

chore: move autobrr to sqlite
  kubernetes/apps/media/autobrr/app/helmrelease2.yaml
Labels: area/kubernetes

chore: move autobrr to sqlite
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease2.yaml
  kubernetes/apps/media/autobrr/app/kustomization.yaml
Labels: area/kubernetes

chore: move atuin to sqlite
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
Labels: area/kubernetes

chore: some house keeping
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/matter-server/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
Labels: area/kubernetes

chore: gatus to sqlite
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/pvc.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/gatus/ks.yaml
Labels: area/kubernetes

chore: gatus to sqlite
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: gatus to sqlite
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: prowlarr to sqlite
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
Labels: area/kubernetes

chore: prowlarr to sqlite
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: radarr to sqlite
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes

chore: radarr to sqlite
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes

chore: radarr to sqlite
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: radarr to sqlite
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: radarr to sqlite
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: radarr to sqlite
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: sonarr to sqlite
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

chore: sonarr to sqlite
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

chore: sonarr to sqlite
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: sonarr to sqlite
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: sonarr to sqlite
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: sonarr to sqlite
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
Labels: area/kubernetes

chore: bye cnpg
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/certificate.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/rbac.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore: logs to devn
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore: add cilium health check
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

chore: deploy thelounge
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

feat(talos): added 4th node
  .gitignore
  .kiro/specs/onepassword-connect-fix/requirements.md
  .taskfiles/talos/Taskfile.yaml
  .trunk/trunk.yaml
  .vscode/settings.json
  CLAUDE.md
  Taskfile.yaml
  netboot.xyz.efi
  talos/node-mapping.yaml
  talos/p520-schematic.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
  talos/static-configs/home04.yaml
Labels: area/talos, area/taskfile

chore: scale pvcs
  kubernetes/apps/default/matter-server/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes

fix(networking): resolve LoadBalancer routing loops and ExternalDNS issues
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
  talos/static-configs/home04.yaml
Labels: area/kubernetes, area/talos

fix(cloudnative-pg): reduce resource requirements for current cluster capacity
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(openebs): enable hostpath storage engine to fix automatic directory creation
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

fix(openebs): change volumeBindingMode to Immediate to resolve chicken-and-egg deadlock
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): add UserVolumeConfig to all nodes for OpenEBS local storage
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
  talos/static-configs/home04.yaml
Labels: area/talos

chore: house keeping
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes

chore: house keeping
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
Labels: area/kubernetes
