Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.4.4088
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.1.8276
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(kps): update external labels
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(cnpg): add max_slot_wal_keep_size
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(volsync): schedule change; vars
  kubernetes/apps/home/home-assistant/app/volsync.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
  kubernetes/apps/media/plex/tools/meta-manager/volsync.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

fix(kps): remove external labels
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.2
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.728
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.729
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.2.8288
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update allenporter/flux-local action to 3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.731
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): thunderbolt networking
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(rook-ceph): cluster networking
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.8
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(blocky): turn on ecs; modify resolvers
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to a823982
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to db9ee86
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(blocky): conditional mappings
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

feat(container): update image thanos to v12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tailscale/tailscale to v1.54.0
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(pvc): mounts
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 7828e77
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to 1fff138
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.1
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.3
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): semver exporter
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(atuin): scale replicas to 2
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(snapshots): move snapclass to rook
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/0xerr0r/blocky to 7dd109b
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

feat(blocky): switch block lists
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

feat(helm): update chart loki to 5.37.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v15
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(blocky): more block lists
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbtools to v0.10.1
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/mbpfan to v0.1.2
  kubernetes/apps/kube-system/mbpfan/app/helmrelease.yaml
Labels: area/kubernetes

chore(mbpfan): cool down these puppies
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-2
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.16.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(mbpfan): change fan curves
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"
