Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

feat: update Talos configuration and bootstrap documentation; add new tasks for secrets generation and config management
  .gitignore
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .trunk/configs/.shellcheckrc
  .trunk/trunk.yaml
  docs/BOOTSTRAP.md
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml
Labels: area/kubernetes, area/talos, area/taskfile

chore(tqm): add new trackers
  kubernetes/apps/media/qbittorrent/tools/tqm/resources/config.yaml
Labels: area/kubernetes

chore(qbt): try out qbittorrent-cli
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/resources/.qbt.toml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/qbr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbr/kustomization.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/kustomization.yaml
  kubernetes/apps/media/tqm/app/resources/config.yaml
  kubernetes/apps/media/tqm/ks.yaml
Labels: area/kubernetes

chore(tqm): clean up cel
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

chore(tqm): clean up cel
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

chore(qb): use qbr
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/resources/.qbt.toml
Labels: area/kubernetes

chore(tqm): update cel logic
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

feat: add new node
  .trunk/trunk.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/controlplane/10.0.5.196.yaml
  talos/controlplane/10.0.5.78.yaml
Labels: area/kubernetes, area/talos

feat: git add node config
  talos/controlplane/10.0.5.123.yaml
Labels: area/talos

feat: update Talos and Cilium configurations; enhance bootstrap documentation and add new tasks
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/cilium-values.yaml
  bootstrap/helmfile.yaml
  docs/BOOTSTRAP.md
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/config/l2.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
  talos/machineconfig.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/talos, area/taskfile

refactor(talos): refactor talos configurations and remove deprecated components
  .mise.toml
  .taskfiles/talos/Taskfile.yaml
  .vscode/settings.json
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/amd-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/amd-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/amd-device-plugin/ks.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/config/l2.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/resources/config.yaml
  kubernetes/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/plex/ks.yaml
  talos/controlplane/10.0.5.123.yaml
  talos/controlplane/10.0.5.196.yaml
  talos/controlplane/10.0.5.78.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml
Labels: area/bootstrap, area/kubernetes, area/talos, area/taskfile

feat(talos): add dynamic node-type configuration for NUC7 and EQ12 hardware types
  talos/README.md
  talos/node-mapping.yaml
  talos/node-types/EQ12/controlplane/10.0.5.196.yaml
  talos/node-types/EQ12/controlplane/10.0.5.78.yaml
  talos/node-types/EQ12/schematic.yaml
  talos/node-types/EQ12/template.j2
  talos/node-types/NUC7/controlplane/10.0.5.123.yaml
  talos/node-types/NUC7/schematic.yaml
  talos/node-types/NUC7/template.j2
  talos/upstream.j2
Labels: area/talos

fix(talos): update deviceSelectors for bond interfaces and adjust diskSelector match condition
  .gitignore
  talos/node-types/EQ12/template.j2
  talos/node-types/NUC7/template.j2
Labels: area/talos

chore(kube-system): remove /dev
  kubernetes/apps/kube-system/amd-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/resources/config.yaml
Labels: area/kubernetes

chore(tqm): update rules
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

chore(talos): add nfsrahead config
  talos/machineconfig.yaml.j2
Labels: area/talos

feat(cnpg): add barman cloud
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/certificate.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/rbac.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(es): onepassword-stores -> onepassword-store
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/store/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/store/onepassword.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

chore(barman): small nits
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
Labels: area/kubernetes

feat(talos): update node configurations and mappings; add new controlplane YAML files for NUC7 and EQ12
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  talos/node-mapping.yaml
  talos/node-types/EQ12/controlplane/10.0.5.215.yaml
  talos/node-types/EQ12/controlplane/10.0.5.219.yaml
  talos/node-types/EQ12/template.j2
  talos/node-types/NUC7/controlplane/10.0.5.100.yaml
  talos/node-types/NUC7/template.j2
Labels: area/talos, area/taskfile

chore(media): yeet maintainerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/kustomization.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
Labels: area/kubernetes

chore(default): add matter-server
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/apps/default/matter-server/app/kustomization.yaml
  kubernetes/apps/default/matter-server/ks.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

feat(talos): update Talos configuration and node mappings; adjust IP addresses and add static routing for home02
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  docs/BOOTSTRAP.md
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  talos/node-mapping.yaml
  talos/static-configs/home02.yaml
Labels: area/kubernetes, area/talos, area/taskfile

fix(talos): remove .fluxignore file and update home02 IP address in static configuration
  kubernetes/apps/.fluxignore
  kubernetes/apps/media/plex/app/helmrelease.yaml
  talos/static-configs/home02.yaml
Labels: area/kubernetes, area/talos

fix(cilium): correct BGP peer address and add documentation
  .mise.toml
  CLAUDE.md
  docs/networking/unifi-bgp-config.md
  docs/networking/unifi-bgp.conf
  kubernetes/apps/kube-system/cilium/config/l3.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: rename k8s-gitops to home-ops and repair malformed YAML
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): disable L2 announcements for LoadBalancer IPs
  kubernetes/apps/kube-system/cilium/config/l2.yaml
Labels: area/kubernetes

feat(networking): update UniFi BGP config to use dynamic neighbor discovery
  docs/networking/unifi-bgp-config.md
  docs/networking/unifi-bgp.conf
Labels: none

revert(cilium): restore original L2+L3 hybrid LoadBalancer configuration
  kubernetes/apps/kube-system/cilium/config/l2.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes

fix: update supplementalGroups to correct values in multiple HelmRelease configurations
  docs/networking/unifi-bgp.conf
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Update kubernetes/apps/kube-system/cilium/config/l3.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes

feat: add additional CLI tools
  .mise.toml
  .taskfiles/workstation/Taskfile.yaml
  CLAUDE.md
Labels: area/taskfile

fix: correct Plex HelmRelease volumes configuration for app-template v4.1.2
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat(app-template): yay
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

does this work?
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

does this work? x2
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

does this work? x3
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

does this work? x4
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: use persistence API for Plex DRI device mount instead of pod volumes
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes
