Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore(bootstrap): helmfile apply -> sync
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

chore(github): small nit readme indentation
  README.md
Labels: none

chore(qbtools): rename milk to mlk
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

chore(spegel): enable grafana dash
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes

chore(talos): nfs debug things
  talos/machineconfig.yaml.j2
Labels: area/talos

chore(qbtools): process seeding announcements as well
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

chore(external-dns): set cloudflare log level to info
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

chore(taskfiles): use the persistent machineconfig
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(multus): switch to tagged v
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): qol improvements (thank you @bjw-s)
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): qol improvements (thank you @bjw-s)
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
Labels: area/kubernetes

chore(arc): do we need a postrender anymore
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(oci): remove cosign on home-operations
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

jank
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): switch to hops k8s-sidecar images
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(rook): wipe osds if from a different cluster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(media): deploy maintainerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/kustomization.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
Labels: area/kubernetes

fix: update rbac external-dns
  kubernetes/apps/networking/external-dns/unifi/rbac.yaml
Labels: area/kubernetes

chore(kps): update prompp image
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): migrate from promtail to alloy
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/alloy/app/resources/config.alloy
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/promtail/app/kustomization.yaml
Labels: area/kubernetes

chore: rebuild
  .taskfiles/talos/Taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, area/taskfile

chore: remove ipv6 mapped
  kubernetes/apps/kube-system/cilium/config/pool.yaml
  kubernetes/apps/kube-system/cilium/config/vip.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

x
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

fix: zigbee probe
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore: maddy tmpfs
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes

x
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

feat: add nfsrahead extension
  talos/schematic.yaml
Labels: area/talos

chore: sabnzbd logs to dnull
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out new qbtools
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

chore: test out new qbtools
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

chore: idk
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

feat: deploy qbr
  kubernetes/apps/media/qbittorrent/tools/qbr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbr/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

feat: update IP addresses and configurations across multiple Kubernetes resources
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/config/pool.yaml
  kubernetes/apps/kube-system/cilium/config/vip.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/multus/networks/iot.yaml
  kubernetes/apps/networking/tailscale/configs/app-connector.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/controlplane/10.0.5.196.yaml
  talos/controlplane/10.0.5.78.yaml
  talos/controlplane/192.168.10.12.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

feat: add configuration files for Trunk, markdownlint, and yamllint; update kernel args and system extensions
  .trunk/.gitignore
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.yamllint.yaml
  .trunk/trunk.yaml
  talos/schematic.yaml
Labels: area/talos

feat(media): move from qbtools to tqm+qbr
  kubernetes/apps/media/qbittorrent/tools/qbr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbr/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/tqm/resources/config.yaml
Labels: area/kubernetes

chore(qb): remove local lb policy
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add setup scripts for GitHub App, Bot, and SeaweedFS integration
  docs/1PASSWORD-SETUP.md
  docs/S3-SETUP.md
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/seaweedfs/README.md
  kubernetes/components/volsync/seaweedfs/externalsecret.yaml
  kubernetes/components/volsync/seaweedfs/kustomization.yaml
  kubernetes/components/volsync/seaweedfs/replicationsource.yaml
  scripts/analyze-externalsecrets.sh
  scripts/check-seaweedfs-status.sh
  scripts/cleanup-cloudflare-s3.sh
  scripts/cleanup-seaweedfs.sh
  scripts/setup-app-secrets.sh
  scripts/setup-backup-encryption.sh
  scripts/setup-external-apis.sh
  scripts/setup-flux-webhook.sh
  scripts/setup-github-app.sh
  scripts/setup-github-bot.sh
  scripts/setup-postgres-seaweedfs-simple.sh
  scripts/setup-postgres-seaweedfs.sh
  scripts/setup-seaweedfs-k8s-integration.sh
  scripts/setup-seaweedfs-monitoring.sh
  scripts/setup-smtp-hotmail.sh
  scripts/setup-smtp-relay.sh
  scripts/setup-synology-s3.sh
  setup-github-app.sh
  talos/schematic.yaml
Labels: area/kubernetes, area/talos

feat: Update various configurations and references to use barbary.hypyr.space; add external secret for SNMP
  .fluxignore
  LICENSE
  README.md
  docs/S3-SETUP.md
  kubernetes/apps/.fluxignore
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/probes/devices.yaml
  kubernetes/apps/observability/blackbox-exporter/probes/nfs.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/snmp-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/snmp-exporter/app/kustomization.yaml
  scripts/setup-synology-s3.sh
Labels: area/kubernetes

feat: update ceph block pool replica size to 2 and set requireSafeReplicaSize to false
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: update .mise.toml with Talos schematic and tool versions; add regenerate-schematic task to Taskfile
  .gitignore
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  talos/controlplane/10.0.5.196.yaml
  talos/controlplane/10.0.5.78.yaml
  talos/machineconfig.yaml.j2
  talos/schematic.yaml
Labels: area/talos, area/taskfile
