Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(kubernetes): house keeping
  .github/renovate/customManagers.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes, area/talos

chore(taskfiles): house keeping
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
Labels: area/taskfiles

chore(github): update renovate manager
  .github/renovate/customManagers.json5
Labels: area/github

fix(taskfiles): remove cluster arg
  .taskfiles/VolSync/Taskfile.yaml
Labels: area/taskfiles

fix(loki): add cross-seed alerting rule
  kubernetes/apps/monitoring/loki/app/rules/loki-alerting-rules.yaml
Labels: area/kubernetes

chore(renovate): update auto merge config
  .github/renovate/autoMerge.json5
Labels: area/github

chore(flux): reorder vars
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(loki): xseed alerting rule
  kubernetes/apps/monitoring/loki/app/rules/loki-alerting-rules.yaml
Labels: area/kubernetes

chore(renovate): clean up regex matchers
  .github/renovate/customManagers.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes, area/talos

fix(talos): update thunderbolt mtu
  talos/talconfig.yaml
Labels: area/talos

fix(renovate): update talos image
  .github/renovate/groups.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes, area/talos

chore(mbpfan): reduce idle fan speed
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
Labels: area/kubernetes

fix(cloudflared): switch from http2 to quic
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): update config to fix migrations
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
Labels: area/github

chore(suc): add tolerations to k8s plan
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

chore(suc): less k8s glue
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

chore(cilium): move k8s service host to 127.0.0.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/values.yaml
Labels: area/kubernetes, area/talos

chore(taskfiles): remove unneeded quotes
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfiles

chore(github): update renovate custom managers
  .github/renovate/customManagers.json5
Labels: area/github

chore(github): update renovate custom managers
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
Labels: area/github

chore(github): fix gha runner group
  .github/renovate/groups.json5
Labels: area/github

fix(csi): remove pinned provisioner image
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): group gha runner by package patterns
  .github/renovate/groups.json5
Labels: area/github

fix(blocky): remove custom health checks
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(blocky): lock down security context
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore(talos): simplifying configuration for talhelper
  talos/talconfig.yaml
Labels: area/talos

fix(talos): restrict talos service account
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(alertmanager): heart beat group interval
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
Labels: area/kubernetes

chore(qbtools): update config
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): grafana dashboards
  .github/renovate/grafanaDashboards.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(grafana): renovate screwed up
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(suc): better talos upgrades
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(loki): update chart values
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): add sign off commits
  .github/renovate.json5
Labels: area/github

Revert "fix(talos): restrict talos service account"
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(monitoring): clean up blackbox exporter
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): grafana auto replace string template
  .github/renovate/grafanaDashboards.json5
Labels: area/github

chore(grafana): test out grafana renovate
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): migrate configs to json5 format
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  .vscode/settings.json
Labels: area/github

chore(github): update readme cluster-template link
  README.md
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
