Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(github-action): update tj-actions/changed-files action to v36.0.4
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.4
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.4
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.5
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.5
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.5
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart loki to 5.5.10
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v36.0.6
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.6
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.6
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v38.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v38.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v38.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart cilium to 1.13.3
  talos/cni/kustomization.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.522
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade ceph osd nvmes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade ceph osd nvmes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade ceph osd nvmes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.522 (#485)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.10 (#482)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.13.3 (#484)
  talos/cni/kustomization.yaml
Labels: none

feat: prometheus-community charts to oci
  kubernetes/flux/repositories/helm/prometheus-community-charts.yaml
Labels: area/kubernetes

feat: prometheus-community charts to oci
  kubernetes/flux/repositories/helm/prometheus-community-charts.yaml
Labels: area/kubernetes

feat: prometheus-community charts to oci
  kubernetes/flux/repositories/helm/prometheus-community-charts.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.523
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.523 (#486)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.526
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.526 (#487)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: flux diff
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/flux-diff.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: flux diff
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/flux-diff.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: flux diff
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/flux-diff.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: move around arc charts
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/kubernetes

fix: move around arc charts
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/kubernetes

fix: move around arc charts
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/kubernetes

chore: dns records
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: dns records
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: dns records
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.527
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.527 (#488)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.529
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
