Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

feat(flux): more concurrency; kustomize in memory
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(grafana): update blocky dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(nginx): update config
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

nit(pmm): remove comment
  kubernetes/apps/media/plex/tools/meta-manager/externalsecret.yaml
Labels: area/kubernetes

fix(bazarr): tmp directory
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): add system-upgrade-controller group
  .github/renovate/groups.json5
Labels: area/github

fix(system-upgrade-controller): talos powercycle reboot mode
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(system-upgrade-controller): talos health check
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

nit(snmp-exporter): remove quotes
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
Labels: area/kubernetes

fix(system-upgrade-controller): remove stage
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(blocky): grafana postgres datasource
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
Labels: area/kubernetes

fix(grafana): cloudnative-pg datasource
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(volsync): remove flux ssa annotations
  kubernetes/apps/home/home-assistant/app/volsync.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
  kubernetes/apps/media/plex/tools/meta-manager/volsync.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

fix(terraform): auto upgrade onepassword
  terraform/cloudflare/main.tf
Labels: area/terraform

chore(talos): containerd customization
  talos/talconfig.yaml
Labels: area/talos

feat(kubernetes): deploy spegel
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/xenitab-charts.yaml
Labels: area/kubernetes

fix(kube-cleanup-operator): change args
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes): deploy k8s-digester
  kubernetes/apps/digester-system/k8s-digester/ks.yaml
  kubernetes/apps/digester-system/kustomization.yaml
  kubernetes/apps/digester-system/namespace.yaml
  kubernetes/flux/repositories/git/.gitkeep
  kubernetes/flux/repositories/git/k8s-digester.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

fix(democratic-csi): pin to semver
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

chore(kube-cleanup-operator): service monitor
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

chore(descheduler): opt in favor
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/app/kustomization.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/lwolf-charts.yaml
Labels: area/kubernetes

fix(terraform): remove redundant env secret
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes

fix(descheduler): move to new format
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): temp disable descheduler
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

chore(kubernetes): enable descheduler
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes
