Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(helm): update chart reloader to 1.0.36
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore: simple house cleaning
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/apps/default/shlink/app/externalsecret.yaml
  kubernetes/apps/home/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/security/lldap/app/externalsecret.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.3
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.5
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tailscale/tailscale to v1.46.1
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/remirigal/plex-auto-languages to v1.2.3
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy terraform
  .github/workflows/publish-terraform.yaml
  .sops.yaml
  .vscode/extensions.json
  .vscode/settings.json
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/apps/flux-system/addons/notifications/alertmanager/alert.yaml
  kubernetes/apps/flux-system/addons/notifications/github/alert.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/ocirepository.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/externalsecret.yaml
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/cache.tf
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/records.tf
  terraform/cloudflare/zone.tf
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.615
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

feat: sonarr to cnpg
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: rename blocky 1password vars
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
  kubernetes/apps/networking/blocky/app/externalsecret.yaml
Labels: area/kubernetes

chore: rename nostr-relay 1password vars
  kubernetes/apps/default/nostr-relay/app/configs/config.toml
  kubernetes/apps/default/nostr-relay/app/externalsecret.yaml
Labels: area/kubernetes

chore: rename autobrr 1password vars
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
Labels: area/kubernetes

chore: rename bazarr 1password vars
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: rename blocky 1password vars
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore: reordering dependencies
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/mosquitto/ks.yaml
  kubernetes/apps/home/n8n/ks.yaml
  kubernetes/apps/home/node-red/ks.yaml
  kubernetes/apps/home/thelounge/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/plex-meta-manager/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/volsync.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/volsync.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/wizarr/ks.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/apps/security/lldap/ks.yaml
Labels: area/kubernetes

fix: tf-controller wait ks
  kubernetes/apps/flux-system/tf-controller/ks.yaml
Labels: area/kubernetes

chore: 🖕 broadcasthe.net
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.616
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.4.7758
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.620
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up tf records
  terraform/cloudflare/cache.tf
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/records.tf
  terraform/cloudflare/zone.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.2.3860
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-smartctl-exporter to v0.5.0
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove n8n
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/n8n/app/externalsecret.yaml
  kubernetes/apps/home/n8n/app/helmrelease.yaml
  kubernetes/apps/home/n8n/app/kustomization.yaml
  kubernetes/apps/home/n8n/app/pvc.yaml
  kubernetes/apps/home/n8n/app/volsync.yaml
  kubernetes/apps/home/n8n/ks.yaml
Labels: area/kubernetes

chore: remove semi-useless apps on dash
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

chore: rename shlink 1p variables
  kubernetes/apps/default/shlink/app/externalsecret.yaml
Labels: area/kubernetes

feat: upgrade talos
  talos/talconfig.yaml
Labels: none

chore: clean up db external secrets
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/security/authelia/app/externalsecret.yaml
Labels: area/kubernetes

chore: move terraform oci
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/flux/repositories/oci/.gitkeep
  kubernetes/flux/repositories/oci/kustomization.yaml
  kubernetes/flux/repositories/oci/terraform.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.621
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.622
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.625
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.5.7809
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.11.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to f2a3c7b
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-blackbox-exporter to v8.3.0
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/postgres-init to v14.9
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
