Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

chore: move qbittools to qbtools
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(helm): update chart loki to 5.29.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove node selectors on qbit/sab
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.1.2
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/github, area/kubernetes

feat(container): update image kube-prometheus-stack to v51.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/fluxcd/flux-manifests to v2.1.2
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.2
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.5
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.11
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 5c022f2
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.8.2
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.30.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/alpine to b0b6f6f
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to c9c2383
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/qbittorrent to f4a1a5e
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr-develop to f5ef22e
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 91f3cd6
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to fa87be8
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 5252094
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/unpackerr to 8bbf35b
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.7.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up loki log alerts
  kubernetes/apps/monitoring/loki/app/rules/loki-alerting-rules.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: bazarr exporter
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/bazarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/kustomization.yaml
Labels: area/kubernetes

feat: app-template v2 changes
  kubernetes/apps/default/excalidraw/app/helmrelease.yaml
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/tools/auto-languages/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.3.1
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: app-template v2 changes
  kubernetes/apps/home/mosquitto/app/configs/mosquitto.conf
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
  kubernetes/apps/kube-system/mbpfan/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/tools/auto-languages/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore: increase fan speeds
  kubernetes/apps/kube-system/mbpfan/app/configs/mbpfan.conf
Labels: area/kubernetes

feat(container): update image registry.k8s.io/git-sync/git-sync to v4.1.0
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore: container resources
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat: app-template v2 changes
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.6
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.8.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping changes
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.4.4039
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
