Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

chore: house keeping
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
Labels: area/kubernetes

chore: house keeping
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): add user volume configuration and maintenance reset tasks for improved node management
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  CLAUDE.md
  bootstrap/secrets.yaml.tpl
  docs/1PASSWORD-SETUP.md
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
  talos/static-configs/home04.yaml
Labels: area/bootstrap, area/talos, area/taskfile

chore: move to ghcr 1password images
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

chore: update prompp
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: hostusers fun
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

new feats
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

fix(openebs): correct basePath to match Talos UserVolumeConfig mount point (#9)
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

fix(openebs): use actual Talos user volume mount point /var/mnt/local-storage (#17)
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/secrets-check.yaml
  .github/workflows/tag.yaml
  .kiro/specs/onepassword-connect-fix/requirements.md
  CLAUDE.md
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat(ceph): expand device filter to include both Micron and XPG NVMe drives (#18)
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(talos): add NVMe UserVolumeConfig for Ceph storage on home01, home02, and home03 (#19)
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
Labels: area/talos

fix: enable media app deployment and update Plex configuration (#13)
  .fluxignore
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore: update bootstrap templates and task automation for 1Password workflow (#14)
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  CLAUDE.md
  Taskfile.yaml
  bootstrap/secrets.yaml.tpl
  docs/BOOTSTRAP.md
Labels: area/bootstrap, area/taskfile

fix(cilium): correct BGP peer config reference with proper group/kind (#12)
  kubernetes/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes

feat: add comprehensive task automation scripts for homelab bootstrap (#11)
  scripts/bootstrap-media-secrets.sh
  scripts/setup-cloudflare-tunnel.sh
Labels: none

docs: add comprehensive troubleshooting guides and 1Password setup instructions (#10)
  docs/1PASSWORD-SETUP.md
  docs/CLUSTER-TROUBLESHOOTING.md
  docs/SETUP-GUIDE.md
Labels: none

Revert "fix(cilium): correct BGP peer config reference with proper group/kind…" (#20)
  kubernetes/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes

feat(media): change Plex and Overseerr to internal-only access (#22)
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  talos/static-configs/home01.yaml
  talos/static-configs/home02.yaml
  talos/static-configs/home03.yaml
Labels: area/kubernetes, area/talos

feat:more secrets bootstrapping (#23)
  scripts/bootstrap-media-secrets.sh
Labels: none

chore: can i do this live
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore: tailscale operator too
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale-operator/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale-operator/app/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/configs/app-connector.yaml
  kubernetes/apps/networking/tailscale-operator/configs/exit-node.yaml
  kubernetes/apps/networking/tailscale-operator/configs/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/ks.yaml
Labels: area/kubernetes

chore: drop multus privs
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove generic-device-plugin
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/resources/config.yaml
  kubernetes/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat(external-dns): increase sync interval to 10 minutes (#24)
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

fix(secrets): correct database credentials and PostgreSQL authentication (#25)
  CLAUDE.md
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  scripts/bootstrap-media-secrets.sh
Labels: area/kubernetes

fix(talos): correct TALOS_ENDPOINTS to use individual node IPs (#26)
  Taskfile.yaml
  docs/CLUSTER-TROUBLESHOOTING.md
Labels: area/taskfile

fix(coredns): remove invalid dns:// scheme from zone configuration (#27)
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  talos/node-mapping.yaml
Labels: area/kubernetes, area/talos

chore: woo no more udev
  kubernetes/apps/media/plex/app/helmrelease.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

fix(volsync): add missing copyMethod to ReplicationSource template (#28)
  kubernetes/components/volsync/seaweedfs/replicationsource.yaml
Labels: area/kubernetes

chore: @onedr0p lied
  talos/machineconfig.yaml.j2
Labels: area/talos

fix(volsync): correct VolumeSnapshotClass name to csi-ceph-block
  kubernetes/components/volsync/seaweedfs/replicationsource.yaml
Labels: area/kubernetes

chore: bye matter
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/apps/default/matter-server/app/kustomization.yaml
  kubernetes/apps/default/matter-server/ks.yaml
Labels: area/kubernetes

chore: docker mirror maybe
  .vscode/settings.json
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore: docker mirror maybe
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes

chore: docker mirror maybe
  talos/machineconfig.yaml.j2
Labels: area/talos

chore: proper nfsrahead content
  talos/machineconfig.yaml.j2
Labels: area/talos

chore: add rook route
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: deploy spoodermon
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/spoodermon/app/externalsecret.yaml
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/kustomization.yaml
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
  kubernetes/apps/observability/spoodermon/ks.yaml
Labels: area/kubernetes

feat: deploy spoodermon
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
  kubernetes/apps/observability/spoodermon/app/resources/config.yaml
Labels: area/kubernetes

chore: update sex tect
  kubernetes/apps/observability/spoodermon/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml
