Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

Update external.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
Labels: area/kubernetes

Update internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

feat(cilium): redirect http to https (#3573)
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

chore(cilium): nit
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

chore(kubernetes): move to new home-operations containers
  .renovate/autoMerge.json5
  bootstrap/helmfile.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

chore: pin actions to semver for minireleaseage to work
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
Labels: area/github

chore: workflow cleanup
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
Labels: area/github

chore: update branch from master -> main
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  README.md
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/github, area/kubernetes

chore(renovate): update groups
  .renovate/groups.json5
Labels: none

chore(vscode): remove sops
  .vscode/settings.json
Labels: none

chore(postgres): move to 17 tag
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

ci: update renovate
  .github/workflows/renovate.yaml
Labels: area/github

ci: add status jobs
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

chore: let the prepull image workflow handle these too
  .renovate/autoMerge.json5
Labels: none

chore: update release and renovate workflow
  .github/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: update workflows
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
Labels: area/github

test
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

ci: update workflows
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
Labels: area/github

test
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(coredns): move back to lan dns
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

chore(snapshot-controller): move to upstream oci
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(taskfiles): upgrade-node never really worked
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(rook): move to upstream oci
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(media): move back to overseerr
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/media/overseerr/ks.yaml
Labels: area/kubernetes

feat(media): move back to overseerr (#3624)
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/media/overseerr/ks.yaml
Labels: area/kubernetes

chore(kubernetes): house keeping
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/stores/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/stores/onepassword.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/home/atuin/ks.yaml
  kubernetes/apps/home/go2rtc/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/unpoller/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/smtp-relay/ks.yaml
Labels: area/kubernetes

chore(multus): move to latest
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

feat(cilium): more tuning
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

feat(networking): deploy tailscale
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes

feat(networking): deploy tailscale
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

feat(networking): deploy tailscale
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

feat(networking): deploy tailscale
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

chore(probes): new condo
  kubernetes/apps/monitoring/blackbox-exporter/probes/homelab.yaml
Labels: area/kubernetes

feat(tailscale): enable health probes
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

feat(tailscale): dynamic routes
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(recyclarr): hallowed is in sqp now
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore(recyclarr): no need for min score
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(cross-seed): house keeping
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/resources/config.js
Labels: area/kubernetes
