Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(kromgo): reduce available metrics
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

chore(github): update readme images
  README.md
  kubernetes/apps/default/kromgo/app/configs/config.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme images
  README.md
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

chore(github): update readme images
  README.md
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(qbtools): cronjob nonsense
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): auto adjust api rate limit
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(kubernetes): house keeping
  .vscode/settings.json
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

chore(rook): opps
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(media): bye bye
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/kustomization.yaml
  kubernetes/apps/media/flaresolverr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

chore(smtp-relay): new line opps
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
Labels: area/kubernetes

chore(volsync): moving to devins image
  kubernetes/apps/kube-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore(rook): update metrics
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

chore(rook): nit picking
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(rook): enable mgr v2
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook): needs grpc metrics
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

chore(descheduler): stop removing everything
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(kps): add flux kube state metrics monitoring
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/kube-state-metrics.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

feat(arc): switch to nixpkg in github workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(github): use yq raw output
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

fix(github): use yq raw output
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

chore(github): cleanup workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(kromgo): add gatus monitoring ep
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): nvme0n1 queue scheduler
  talos/talconfig.yaml
Labels: area/talos

chore(talos): test disabling fsync for a while
  .taskfiles/talos/tasks.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos, area/taskfiles

chore(kubernetes): remove wizarr; renovate updates
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/renovate.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
  kubernetes/apps/media/wizarr/ks.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes, area/talos

chore(github): add security md
  .github/SECURITY.md
Labels: area/github

chore(renovate): update commits
  .github/renovate/grafanaDashboards.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

chore(renovate): update workflows
  .github/workflows/flux-hr-test-image.yaml
  .github/workflows/resources/extract-images.mjs
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore(renovate): update workflows
  .github/renovate/labels.json5
  .github/workflows/flux-hr-test-image.yaml
Labels: area/github

chore(renovate): update workflows
  .github/workflows/flux-hr-test-image.yaml
Labels: area/github

chore(kubernetes): csi fixes
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(nginx): downgrade nginx chart version
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(github): testing out aqua workflows
  .github/aqua.yaml
  .github/renovate.json5
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-hr-test-image.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/scripts/extract-images.mjs
Labels: area/github

feat(github): testing out aqua workflows
  .editorconfig
  .envrc
  .gitattributes
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/publish-terraform.yaml
  .gitignore
  LICENSE
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/publish-terraform.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore(github): general house keeping
  .github/scripts/extract-images.mjs
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

chore(github): update workflows
  .github/aqua.yaml
  .github/renovate.json5
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
