Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

chore(rook): deprecate ceph fs
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(rook): remove osd class update
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(ceph): YEET
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

chore(bootstrap): update helm file
  bootstrap/helmfile.yaml
Labels: area/bootstrap

chore(talos): disable serialize image pulls
  talos/controlplane.yaml.j2
Labels: area/talos

chore(github): update flux-local for image pull
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore(github): refactor workflows
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

test workflows
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

test workflows
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github): move sync to reconcile
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/reconcile-helm-repositories.yaml
Labels: area/github

feat(github): move sync to reconcile
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

feat(github): move sync to reconcile
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(github): move sync to reconcile
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

feat(github): move sync to reconcile
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

feat(github): only sync helm repos when required
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

test workflows
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
Labels: area/kubernetes

feat(github): only sync helm repos when required
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

test workflows
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
Labels: area/kubernetes

feat(github): only sync helm repos when required
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(coredns): nit helmrepo
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
Labels: area/kubernetes

chore(cross-seed): logs to /dev/null
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(system-upgrade): replicas to 2
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): make devin happy
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

test workflows
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
Labels: area/kubernetes

test
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
Labels: area/kubernetes

test
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
Labels: area/kubernetes

chore(workflows): house keeping and some fixes
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore(workflows): house keeping and some fixes
  .github/workflows/helm-repo-sync.yaml
Labels: area/github

chore(workflows): nice
  .github/workflows/helm-repo-sync.yaml
Labels: area/github

chore(workflows): nice
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

chore(workflows): release to tag
  .github/workflows/tag.yaml
Labels: area/github

chore(workflows): flux diff
  .github/workflows/flux-local.yaml
Labels: area/github

chore(workflows): easier tag
  .github/workflows/tag.yaml
Labels: area/github

chore(intel): rename the ds to i915
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

chore(workflows): update tagging workflow
  .github/workflows/tag.yaml
Labels: area/github

chore(grafana): add pdu dash
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(workflows): more like diff than compare
  .github/workflows/image-pull.yaml
Labels: area/github

move to ghcr.io
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

chore(talos): update the nfsmount perm
  talos/controlplane.yaml.j2
Labels: area/talos

chore(taskfiles): update talos task
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml
