Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix: diff
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: diff
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: diff
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: diff
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

fix: diff
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

fix: diff
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

chore: remove radarr; sonarr sync cronjobs
  kubernetes/apps/media/radarr/app/cronjob.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/cronjob.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
Labels: area/kubernetes

chore: remove radarr; sonarr sync cronjobs
  kubernetes/apps/media/radarr/app/cronjob.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/cronjob.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
Labels: area/kubernetes

chore: remove radarr; sonarr sync cronjobs
  kubernetes/apps/media/radarr/app/cronjob.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/cronjob.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
Labels: area/kubernetes

chore: cloudflared
  kubernetes/apps/networking/cloudflared/app/deployment.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/service.yaml
  kubernetes/apps/networking/cloudflared/app/servicemonitor.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes

chore: cloudflared
  kubernetes/apps/networking/cloudflared/app/deployment.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/service.yaml
  kubernetes/apps/networking/cloudflared/app/servicemonitor.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes

chore: cloudflared
  kubernetes/apps/networking/cloudflared/app/deployment.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/service.yaml
  kubernetes/apps/networking/cloudflared/app/servicemonitor.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 885065e
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 885065e
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to 885065e
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.11.1
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr node names
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr node names
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr node names
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  .github/renovate.json5
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(container): update image haveagitgat/tdarr_acc to v2.00.16.3
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image haveagitgat/tdarr_node_acc to v2.00.18.2
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr
  .github/renovate.json5
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: tdarr
  .github/renovate.json5
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: tdarr
  .github/renovate.json5
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/github, area/kubernetes

feat(container)!: Update image haveagitgat/tdarr_node_acc to v31
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr versioning
  .github/renovate.json5
Labels: area/github

chore: tdarr versioning
  .github/renovate.json5
Labels: area/github

chore: tdarr versioning
  .github/renovate.json5
Labels: area/github

fix(helm): update chart cert-manager to v1.11.1 (#247)
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/excalidraw/excalidraw to d959cd3
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/excalidraw/excalidraw to d959cd3
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/excalidraw/excalidraw to d959cd3
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore: external secrets + templates
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
  kubernetes/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/apps/media/omegabrr/ks.yaml
Labels: area/kubernetes

chore: external secrets + templates
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
  kubernetes/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/apps/media/omegabrr/ks.yaml
Labels: area/kubernetes

chore: external secrets + templates
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
  kubernetes/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/apps/media/omegabrr/ks.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 4870891
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 4870891
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 4870891
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 266a238
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
