Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image redis to v18.1.6
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-provisioner to v3.6.1
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.6
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: kyverno exclude multus
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.2
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: add back xseed on completed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/configs/xseed.sh
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up omegabrr; qbittorrent
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
  kubernetes/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/apps/media/omegabrr/ks.yaml
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/qbittorrent/app/configs/xseed.sh
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

chore: remove supplemental groups from gatus
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.0.4047
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.1.8195
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.7
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.5
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.3
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.7.7616-1e9b33d2b
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.4
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to e24bb8f
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix: gatus config sync
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: reduce arr scrapes
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

chore(talos): add miimon to bond0
  talos/talconfig.yaml
Labels: area/talos

fix(container): update image docker.io/restic/restic to v0.16.1
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfiles

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.7.7621-871adbd44
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): app init container ordering
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(image): upgrade ghcr.io/cloudnative-pg/postgresql to v15.4-16
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/cloudnative-pg/postgresql to v16
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(container)!: update image ghcr.io/cloudnative-pg/postgresql to v16.0-8
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(nostr-relay): update config
  kubernetes/apps/default/nostr-relay/app/configs/config.toml
Labels: area/kubernetes

chore(qb): update cross-seed config
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

fix(container): update image thanos to v12.13.13
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.47
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v52
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(nostr-relay): update config
  kubernetes/apps/default/nostr-relay/app/configs/config.toml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.48
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(thelounge): prune old log messages
  kubernetes/apps/home/thelounge/app/configs/prune.sql
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/kustomization.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.33
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v52.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.3
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes
