Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update chart democratic-csi to 0.14.2
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.709
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/authelia/authelia to v4.38.0-beta3
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/externalsecret.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.710
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.49
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.50
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 755b7ef
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/vector to v0.33.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to 0e81f2f
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/jmalloc/echo-server to v0.3.6
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes): deploy coredns correctly
  kubernetes/apps/kube-system/coredns/app/configs/Corefile
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/flux/repositories/helm/coredns-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(github-action): update tj-actions/changed-files action to v40.0.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart external-secrets to 0.9.8
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2023.10.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): app house keeping
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.33.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.0.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 4.18.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

chore(talos): deprecate talos image extensions
  talos/talconfig.yaml
Labels: area/talos

chore(cross-seed): switch to master branch
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tailscale/tailscale to v1.52.0
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.36.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.6
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.2
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.8.7639-fb6452ebf
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.0-9
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(helm): update chart coredns to 1.28.0
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix(kyverno): background controller memory
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart coredns to 1.28.1
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/cross-seed/cross-seed to 4eb8e69
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart coredns to 1.28.1
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix(kubernetes): optimize dns resolution
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/kyverno/kyverno/policies/add-ndots.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/cross-seed/cross-seed to 4eb8e69
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/wizarrrr/wizarr to v3.4.8
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart coredns to 1.28.1
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.0-10
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.3
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes
