Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

chore(vscode): add json5 extension
  .vscode/extensions.json
Labels: none

chore(vscode): move json5 to tudoudou.json5-for-vscode
  .vscode/extensions.json
Labels: none

fix(renovate): versioning group is required
  .github/renovate/customManagers.json5
Labels: area/github

chore(renovate): less renovate regex jank
  .github/renovate/customManagers.json5
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/github, area/kubernetes

fix(cilium): clean up layer 2 references
  README.md
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): bbr host devices and l2 changes
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(suc): pod security contexts
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): update trackers
  kubernetes/apps/media/qbittorrent/tools/qbtools/configs/config.yaml
Labels: area/kubernetes

chore(networking): swap echo-server
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update read me
  README.md
Labels: none

chore(github): remove bot username from action
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

fix(talos): bootstrap coredns
  talos/coredns/kustomization.yaml
  talos/coredns/values.yaml
Labels: area/talos

fix(talos): cilium bootstrap
  talos/cni/values.yaml
Labels: area/talos

fix(vscode): secrets icon
  .vscode/settings.json
Labels: none

fix(taskfiles): talos upgrade image var
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfiles

fix(media): change the arrs back to develop
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): comment non semver images
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme network diagram
  README.md
Labels: none

chore(suc): move to upstream kubectl
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update ghcr.io/koenkk/zigbee2mqtt (1.35.2 → 1.35.3) (#1829)"
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): clean up regex managers
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .taskfiles/Flux/Taskfile.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes, area/talos, area/taskfiles

feat(kubernetes): new cluster build out
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/kustomization.yaml
  kubernetes/apps/kube-system/node-problem-detector/ks.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  talos/cni/kustomization.yaml
  talos/cni/values.yaml
  talos/coredns/values.yaml
  talos/helm/cilium/kustomization.yaml
  talos/helm/coredns/kustomization.yaml
  talos/helm/kubelet-csr-approver/kustomization.yaml
  talos/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos, area/taskfiles

fix(blocky): allow lifetime app
  kubernetes/apps/networking/blocky/app/configs/allowlist.txt
Labels: area/kubernetes

fix(blocky): unblock more lifetime things
  kubernetes/apps/networking/blocky/app/configs/allowlist.txt
Labels: area/kubernetes

chore(blocky): put lists on fs
  kubernetes/apps/networking/blocky/app/configs/allowlist.txt
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
  kubernetes/apps/networking/blocky/app/lists/whitelist.txt
Labels: area/kubernetes

fix(vscode): sops rules yaml icon
  .vscode/settings.json
Labels: none

fix(blocky): opps whitelist error
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

fix(blocky): update block lists
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/lists/whitelist.txt
Labels: area/kubernetes

chore(taskfiles): update rook and volsync tasks
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Rook/scripts/wait-for-job.sh
  .taskfiles/Rook/templates/wipedatajob.tmpl.yaml
  .taskfiles/Rook/templates/wipediskjob.tmpl.yaml
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/scripts/wait-for-job.sh
  .taskfiles/VolSync/scripts/which-controller.sh
Labels: area/taskfiles

chore(taskfiles): update tasks again
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
Labels: area/taskfiles

chore(taskfiles): update tasks again
  .taskfiles/Rook/Taskfile.yaml
Labels: area/taskfiles

feat(cilium): enable xdp lb acceleration
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): disable xdp due to packet loss
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix(cilium): disable kyverno policy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helm/cilium/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(github): flux local only needs flux path
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(kromgo): update metric queries and colors
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

chore(talos): clean up helm apps
  talos/helm/cilium/kustomization.yaml
  talos/helm/coredns/kustomization.yaml
  talos/helm/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

fix(kromgo): change colors for node & pod count
  kubernetes/apps/default/kromgo/app/configs/config.yaml
Labels: area/kubernetes

chore(ceph): remove pinned resources
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(ceph): add back resources
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes
