Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore(rook): yeets
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(kps): these are fixed
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): remove secret namespace
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

fix(cilium): remove secret namespace (#3529)
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

chore(coredns): move off of dockershit
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(promtail): move to oci
  kubernetes/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/apps/monitoring/promtail/app/helmrepository.yaml
  kubernetes/apps/monitoring/promtail/app/kustomization.yaml
Labels: area/kubernetes

feat(promtail): move to oci (#3531)
  kubernetes/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/apps/monitoring/promtail/app/helmrepository.yaml
  kubernetes/apps/monitoring/promtail/app/kustomization.yaml
Labels: area/kubernetes

chore(vscode): update settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

fix(bootstrap): helmfile was all fucked up
  bootstrap/helmfile.yaml
Labels: area/bootstrap

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/ingress/external.yaml
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
  kubernetes/apps/kube-system/cilium/ingress/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

feat(networking): move to gateway api
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/ingress/external.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/databases/emqx/cluster/ingress.yaml
  kubernetes/apps/databases/emqx/cluster/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move to gateway api (#3543)
  kubernetes/apps/databases/emqx/cluster/ingress.yaml
  kubernetes/apps/databases/emqx/cluster/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
  kubernetes/apps/kube-system/cilium/ingress/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/ingress/certificate.yaml
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
  kubernetes/apps/kube-system/cilium/ingress/kustomization.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move to gateway api
  kubernetes/apps/kube-system/cilium/ingress/internal.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(networking): move external to gateway
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/ingress.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/ingress/certificate.yaml
  kubernetes/apps/kube-system/cilium/ingress/external.yaml
  kubernetes/apps/kube-system/cilium/ingress/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

feat(cilium): enable hubble for http inspection
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana): bye bye ingress dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): move to gateway folder
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

fix(plex): string range from streams
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(route): organize them
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

chore(networking): update some things
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/config/pool.yaml
  kubernetes/apps/kube-system/cilium/config/vip.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): use latest and greatest --gateway-name
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): use latest and greatest --gateway-name (#3547)
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): use latest and greatest --gateway-name
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): allow one trusted hop
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

fix(cilium): allow one trusted hop
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

chore(cloudflared): this may still work
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(coredns): use dot for cluster
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

chore(cloudflared): just make it a little neater i guess
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

chore(kubernetes): a little house keeping
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

chore(rook): this doesnt work half of the time
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes
