Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore: renovate; sabnzbd
  .github/renovate.json5
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 22c860b
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 22c860b
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 22c860b
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/linuxserver/sabnzbd to v4
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: helm diff color
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

chore: helm diff color
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

chore: helm diff color
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

feat(container)!: Update image ghcr.io/linuxserver/sabnzbd to v4 (#255)
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: update images
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore: update images
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore: update images
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to d1011d8
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to d1011d8
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to d1011d8
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 62dd4c5
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 62dd4c5
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 62dd4c5
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.434-ls440
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.434-ls440
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.434-ls440
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.435-ls441
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.435-ls441
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.435-ls441
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 0532427
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 0532427
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 0532427
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 1ad7a11
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 1ad7a11
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 1ad7a11
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore: updating images
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  README.md
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: updating images
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  README.md
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: updating images
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  README.md
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/github, area/kubernetes

Create .github/FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

Create .github/FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

Create .github/FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

Delete FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

Delete FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

Delete FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

chore: external secrets tasks
  .taskfiles/ExternalSecrets/Tasks.yaml
  Taskfile.yaml
Labels: none
