Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

chore: omegabrr cross-seed
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
Labels: area/kubernetes

chore: omegabrr cross-seed
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
Labels: area/kubernetes

chore: omegabrr cross-seed
  kubernetes/apps/media/omegabrr/app/configs/config.yaml
Labels: area/kubernetes

chore: cross-seed -> vpn
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore: cross-seed -> vpn
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore: cross-seed -> vpn
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.6.1 (#419)
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/autobrr to v1.26.2
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/autobrr to v1.26.2
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/autobrr to v1.26.2
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update timheuer/base64-to-file digest to ca9e30b
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 45.28.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.28.1 (#421)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update timheuer/base64-to-file digest to ca9e30b (#420)
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

revert: kube-prometheus-stack
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

revert: kube-prometheus-stack
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

revert: kube-prometheus-stack
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 12b18ce
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 12b18ce (#422)
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.502
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.5 (#424)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.502 (#423)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.503
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.503 (#425)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart contour to 12.0.1
  kubernetes/apps/networking/contour/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.11.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.11.2 (#427)
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart contour to 12.0.1 (#426)
  kubernetes/apps/networking/contour/app/helmrelease.yaml
Labels: area/kubernetes

revert: authelia
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

revert: authelia
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

revert: authelia
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/media/autobrr/app/configs/config.toml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/media/autobrr/app/configs/config.toml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/media/autobrr/app/configs/config.toml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.28.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: upgrading to k8s 1.27.2
  talos/talconfig.yaml
Labels: none

chore: upgrading to k8s 1.27.2
  talos/talconfig.yaml
Labels: none

chore: upgrading to k8s 1.27.2
  talos/talconfig.yaml
Labels: none

chore: housekeeping
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/deluge/cross-seed/configs/config.js
  kubernetes/apps/media/deluge/cross-seed/externalsecret.yaml
  kubernetes/apps/media/deluge/cross-seed/helmrelease.yaml
  kubernetes/apps/media/deluge/cross-seed/kustomization.yaml
  kubernetes/apps/media/deluge/cross-seed/pvc.yaml
  kubernetes/apps/media/deluge/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
