Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.2
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: update blocky blocklists
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

fix(container): update image redis to v17.14.4
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: update blocky blocklists
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.1
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.587
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.588
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.7
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.34
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.5
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: add manual blocky whitelist
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/configs/whitelist.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.27
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

chore: use master instead of digest branch
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

feat(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.0
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy karma
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/kustomization.yaml
  kubernetes/apps/monitoring/karma/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.2
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/unpoller/unpoller to v2.8.0
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.2
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix: why did i do this
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/configs/whitelist.txt
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.6.7371-b6a09ad81
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.5.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.589
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.592
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.599
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 6780c66
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix: unpackerr memory
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: app deps
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
Labels: area/kubernetes

fix: privileged pod task
  .taskfiles/k8s/tasks.yaml
Labels: none

fix(container): update image kube-prometheus-stack to v48.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: blocky affinity
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.600
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: l2 announcement interfaces
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/configs/l2announcementpolicy.yaml
Labels: area/kubernetes

feat: deploy shlink
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/shlink/app/configs/gatus.yaml
  kubernetes/apps/default/shlink/app/externalsecret.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/kustomization.yaml
  kubernetes/apps/default/shlink/ks.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 3912b4c
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore: changing icons on dash
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
