Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

feat(helm): update chart loki to 5.20.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.665
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.8.2
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.8.3
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade talos to 1.5.2
  talos/talconfig.yaml
Labels: none

chore(container): update image ghcr.io/autobrr/autobrr to f7a05b9
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tibdex/github-app-token action to v1.9.0
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.0.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart ingress-nginx to 4.7.2
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr to 85ae4cc
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tibdex/github-app-token action to v2.0.0
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/autobrr/autobrr to 96ae49c
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore: yeet theme-park
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/theme-park/app/configs/gatus.yaml
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
  kubernetes/apps/default/theme-park/app/kustomization.yaml
  kubernetes/apps/default/theme-park/ks.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.6.3946
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr to 2910ff0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore: readme update
  README.md
Labels: none

feat(container)!: Update image kube-prometheus-stack to v51
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: autobrr to v1.29.0-rc1
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update dns server for l3 switch
  talos/talconfig.yaml
Labels: none

fix(container): update image redis to v18.0.4
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/unpoller/unpoller to v2.9.0
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to b6bca11
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.9.2
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat: moar env variables
  kubernetes/apps/media/plex-meta-manager/app/configs/config.yml
  kubernetes/apps/media/plex-meta-manager/app/externalsecret.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
  kubernetes/apps/media/plex-meta-manager/app/kustomization.yaml
  kubernetes/apps/media/plex-meta-manager/app/scripts/run.sh
  kubernetes/apps/media/recyclarr/app/configs/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.669
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: change torrenting port
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/qbittools/manage/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: autobrr full send
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.4.0
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.4.3
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.0.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action)!: Update docker/login-action action to v3.0.0
  .github/workflows/publish-terraform.yaml
Labels: area/github

fix(container): update image kube-prometheus-stack to v51.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to 7dda018
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.0.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove bittorrent utp
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to d0d61df
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat: gitops sonarr/radarr qualities
  kubernetes/apps/media/recyclarr/app/configs/recyclarr.yml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.4.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: adding alpharatio to xseed
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
