Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(tailscale): reorder resources
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes

chore(tailscale): forgot new line
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes

chore(github): readme dependency graph
  README.md
  assets/dns.svg
Labels: none

chore(flux): remove unused var
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(github): update renovate and readme
  .github/workflows/renovate.yaml
  README.md
Labels: area/github

chore(github): update readme
  README.md
Labels: none

chore(github): update readme
  README.md
Labels: none

chore(github): pin renovate version
  .github/workflows/renovate.yaml
Labels: area/github

nit(system-upgrade-controller): kubernetes plan
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(kyverno): gatus auto generate
  kubernetes/apps/default/libreddit/app/configs/gatus.yaml
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/libreddit/app/kustomization.yaml
  kubernetes/apps/default/nostr-relay/app/configs/gatus.yaml
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/nostr-relay/app/kustomization.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/configs/gatus.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/generate-gatus.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/media/overseerr/app/configs/gatus.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/plex/app/configs/gatus.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/configs/gatus.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/wizarr/app/configs/gatus.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/configs/gatus.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/app/configs/gatus.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/configs/gatus.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/terraform:
  - "terraform/**/*"
