Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore(cnpg): comment this out
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(unpoller): add health check
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(external-secrets): use upstream dash
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): give arrs more memory
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): testing something
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): testing something
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update intel-device-plugins group (0.32.0 → 0.32.1) (#3782)"
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

chore(intel-gpu): try a fresh install
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

chore(recyclarr): this custom format is no longer valid
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore(bazarr): bye bye jank scripts
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/media/bazarr/ks.yaml
Labels: area/kubernetes

chore(talos): new cluster
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, area/taskfile

chore(atuin): downgrade temp
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

chore(atuin): downgrade temp
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

chore(qb): route directly to node
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(suc): see if k8s is upgraded
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
Labels: area/kubernetes

feat(kps): prompp and rules
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/cloudflare/prometheusrule.yaml
  kubernetes/apps/networking/external-dns/unifi/kustomization.yaml
  kubernetes/apps/networking/external-dns/unifi/prometheusrule.yaml
Labels: area/kubernetes

feat(home): maybe this works again
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

chore(talos): add user.max_user_namespaces sysctl
  talos/machineconfig.yaml.j2
Labels: area/talos

chore(home): yeet emqx
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/emqx/app/externalsecret.yaml
  kubernetes/apps/databases/emqx/app/helmrelease.yaml
  kubernetes/apps/databases/emqx/app/kustomization.yaml
  kubernetes/apps/databases/emqx/cluster/cluster.yaml
  kubernetes/apps/databases/emqx/cluster/kustomization.yaml
  kubernetes/apps/databases/emqx/cluster/podmonitor.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/pvc.yaml
  kubernetes/apps/home/mosquitto/app/resources/mosquitto.conf
  kubernetes/apps/home/mosquitto/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

update service accounts
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

update identifiers
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/go2rtc/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

update identifiers
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

update identifiers
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/rbac.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/rbac.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes

update identifiers
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): migrate config
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovaterc.json5
Labels: none

chore(renovate): add to trusted gha
  .renovate/autoMerge.json5
Labels: none

chore(kubernetes): i have a headache
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/ks.yaml
  kubernetes/apps/monitoring/silence-operator/silences/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/silences/silences.yaml
Labels: area/kubernetes

chore(autobrr): make the alert sound better
  kubernetes/apps/media/autobrr/app/prometheusrule.yaml
Labels: area/kubernetes

chore(loki): switch to upstream chart
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): remove not-linked
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): it needs the mount
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): it needs the mount
  kubernetes/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): refactor tmpfs mounts
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): refactor tmpfs
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(qbtools): permaseed ptp
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

chore(qbtools): add a new indexer
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

chore(flux): post-flux 2.6.0 clarity
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/twin/gatus (v5.17.0 → v5.18.0) (#3845)"
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): forgot to scale radarr
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes

chore(home): scale zigbee from controller
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/scaledobject.yaml
Labels: area/kubernetes
