Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

revert: weave-gitops to v4.0.21
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

revert: weave-gitops to v4.0.21
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

revert: weave-gitops to v4.0.21
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat: unpackerr metrics
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: unpackerr metrics
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: unpackerr metrics
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart goldilocks to 6.6.0 (#467)
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

chore: scale cloudflared to 2 replicas
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore: scale cloudflared to 2 replicas
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore: scale cloudflared to 2 replicas
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.4
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.5
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update renovatebot/github-action action to v38.0.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart prometheus-snmp-exporter to 1.4.1
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.4 (#469)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-snmp-exporter to 1.4.1 (#472)
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v38.0.0 (#471)
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/n8n-io/n8n to v0.230.1
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v0.230.1 (#473)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.5 (#470)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home/glauth/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autoscan/adapter/helmrelease.yaml
  kubernetes/apps/media/autoscan/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/cross-seed/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/kustomization.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home/glauth/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autoscan/adapter/helmrelease.yaml
  kubernetes/apps/media/autoscan/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/cross-seed/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/kustomization.yaml
Labels: area/kubernetes

chore: housekeeping
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home/glauth/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autoscan/adapter/helmrelease.yaml
  kubernetes/apps/media/autoscan/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/cross-seed/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/kustomization.yaml
Labels: area/kubernetes

chore: increase helm timeout on loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

chore: increase helm timeout on loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

chore: increase helm timeout on loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 522b0c5
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 522b0c5
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 522b0c5
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.1
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.6
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.1 (#474)
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.6 (#475)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

nit: vscode formatting
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

nit: vscode formatting
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

nit: vscode formatting
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: housekeeping
  kubernetes/apps/home/authelia/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
