Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat: talos to v1.4.7; k8s to v1.27.4
  README.md
  talos/talconfig.yaml
Labels: none

fix(container): update image kyverno to v3.0.3
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.3 (#786)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.33.2
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.33.2 (#787)
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: bazarr post processing no progress bar
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

fix: bazarr post processing no progress bar
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

chore: cleanup task files
  .taskfiles/rook/tasks.yaml
  .taskfiles/talos/tasks.yaml
Labels: none

chore: cleanup task files
  .taskfiles/rook/tasks.yaml
  .taskfiles/talos/tasks.yaml
Labels: none

chore: update readme
  README.md
Labels: none

fix(helm): update chart democratic-csi to 0.14.1
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

fix(helm): update chart democratic-csi to 0.14.1 (#788)
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.3
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.9
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat: node-red oauth
  kubernetes/apps/home/node-red/app/configs/settings.js
  kubernetes/apps/home/node-red/app/externalsecret.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/kustomization.yaml
  kubernetes/apps/home/node-red/ks.yaml
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/externalsecret.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.5.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.582
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: setup sponsor button
  .github/FUNDING.yml
Labels: area/github

chore: loki gateway port
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/unpackerr to v0.12.0
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.3.7731
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.0.3805
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: unpackerr metrics
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.28.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.583
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.584
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.585
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.10.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: replace glauth with lldap
  README.md
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/patches/env.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/apps/security/glauth/app/externalsecret.yaml
  kubernetes/apps/security/glauth/app/helmrelease.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/lldap/app/externalsecret.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/kustomization.yaml
  kubernetes/apps/security/lldap/ks.yaml
Labels: area/kubernetes

nit: house keeping
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 5a10f40
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore: change icons
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: authelia webauthn
  kubernetes/apps/security/authelia/app/configs/configuration.yml
Labels: area/kubernetes

fix: lldap password reset
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
  kubernetes/apps/security/lldap/ks.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.10.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: authelia webauthn
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.4
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.2.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: adding login.microsoftonline.us to whitelist
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes
