Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.575 (#741)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux-local action sources
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: flux-local action sources
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image kube-prometheus-stack to v48.1.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.1.2 (#745)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex-beta to f0b3e2d
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex-beta to f0b3e2d
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore: deprecate goldilocks & vpa
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/democratic-csi/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
  kubernetes/apps/monitoring/vpa/app/kustomization.yaml
  kubernetes/apps/monitoring/vpa/ks.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/security/namespace.yaml
Labels: area/kubernetes

chore: deprecate goldilocks & vpa
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/democratic-csi/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
  kubernetes/apps/monitoring/vpa/app/kustomization.yaml
  kubernetes/apps/monitoring/vpa/ks.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/security/namespace.yaml
Labels: area/kubernetes

fix: grafana cyberpower ups dashboard
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/dashboards/cyberpower-ups-dashboard.json
Labels: area/kubernetes

fix: grafana cyberpower ups dashboard
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/dashboards/cyberpower-ups-dashboard.json
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v37.4.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v37.4.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: update read me
  README.md
Labels: none

chore: update read me
  README.md
Labels: none

fix(container): update image ghcr.io/twin/gatus to v5.5.1
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/twin/gatus to v5.5.1 (#746)
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.32
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.32 (#747)
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.11
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.13.3
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.13.3 (#749)
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.11 (#748)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: move alertmanager config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: move alertmanager config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.3 (#750)
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: face palm
  kubernetes/apps/monitoring/vector/aggregator/configs/vector.yaml
Labels: area/kubernetes

fix: face palm
  kubernetes/apps/monitoring/vector/aggregator/configs/vector.yaml
Labels: area/kubernetes

feat: add more monitors to node-problem-detector
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

feat: add more monitors to node-problem-detector
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.4
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.4 (#751)
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.10
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.4
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart multus to 5.0.3
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart multus to 5.0.3 (#754)
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.4 (#753)
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.10 (#752)
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

chore: use logging domain
  talos/talconfig.yaml
Labels: none
