Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix: grafana prometheus data type to thanos
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 2.1.1
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 2.1.1 (#643)
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.0.5
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.5
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.5
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update rook-ceph group to v1.11.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.11.9 (patch) (#644)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.8
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.8 (#645)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.7.1
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.7.1 (#646)
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.0 (#647)
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.0.3623
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.0.3623 (#648)
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image cross-seed to v5.3.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image cross-seed to v5.3.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image cross-seed to v5.3.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.551
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.551 (#649)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.2.0 (#650)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: set cacheCapacity to 10Gi across all volsync backups
  kubernetes/apps/home/home-assistant/app/volsync.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/n8n/app/volsync.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex-meta-manager/app/volsync.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/apps/media/radarr/app/volsync.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
  kubernetes/apps/media/sonarr/app/volsync.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
  kubernetes/apps/media/tdarr/app/volsync.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

fix: set cacheCapacity to 10Gi across all volsync backups
  kubernetes/apps/home/home-assistant/app/volsync.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/n8n/app/volsync.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex-meta-manager/app/volsync.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/apps/media/radarr/app/volsync.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
  kubernetes/apps/media/sonarr/app/volsync.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
  kubernetes/apps/media/tdarr/app/volsync.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

fix: set cacheCapacity to 10Gi across all volsync backups
  kubernetes/apps/home/home-assistant/app/volsync.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/n8n/app/volsync.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex-meta-manager/app/volsync.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/apps/media/radarr/app/volsync.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
  kubernetes/apps/media/sonarr/app/volsync.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
  kubernetes/apps/media/tdarr/app/volsync.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

chore: housekeeping
  .taskfiles/k8s/tasks.yaml
  hack/debugger-host-network.yaml
  hack/debugger-pod-network.yaml
  hack/wipe-rook-data.yaml
  hack/wipe-rook-disk.yaml
  hack/wipe-rook.sh
  talos/apply.sh
Labels: area/hack

chore: housekeeping
  .taskfiles/k8s/tasks.yaml
  hack/debugger-host-network.yaml
  hack/debugger-pod-network.yaml
  hack/wipe-rook-data.yaml
  hack/wipe-rook-disk.yaml
  hack/wipe-rook.sh
  talos/apply.sh
Labels: area/hack

chore: housekeeping
  .taskfiles/k8s/tasks.yaml
  hack/debugger-host-network.yaml
  hack/debugger-pod-network.yaml
  hack/wipe-rook-data.yaml
  hack/wipe-rook-disk.yaml
  hack/wipe-rook.sh
  talos/apply.sh
Labels: area/hack

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.3.1
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.3.1 (#651)
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.6.4.7568
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.3.0 (#653)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.6.4.7568 (#652)
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy tailscale
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/rbac.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes

feat: deploy tailscale
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/rbac.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes
