Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

chore(talos): scaling governor to powersave
  talos/talconfig.yaml
Labels: area/talos

fix(loki): gateway exclude kyverno
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(karma): add health probes
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes

fix(bazarr): add health probes
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v54.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(probes): add various app probes
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v54.2.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.35
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.38.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(thelounge): remove glue
  kubernetes/apps/home/thelounge/app/configs/prune.sql
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/kustomization.yaml
Labels: area/kubernetes

chore(talos): testing extra performance
  talos/talconfig.yaml
Labels: area/talos

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-3
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(blocky): adding referral whitelists
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v54.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(blocky): bootstrap dns
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(blocky): blocklists update
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix(blackbox): alert description
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(hajimari): clean up vars
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
Labels: area/kubernetes

chore(xseed): add atr
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

chore(xseed): clean up trackers
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

feat(system-uprade-controller): convert to helm release
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/serviceaccount.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-4
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(rook-ceph): temp disable cluster network
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(taskfiles): update volsync tasks
  .taskfiles/volsync/scripts/controller.sh
  .taskfiles/volsync/scripts/wait.sh
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  .taskfiles/volsync/wait-for-job.sh
Labels: area/taskfiles

fix(helm): update chart multus to 5.0.4
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): move cluster network back
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(blocky): try out regex whitelist
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/shlinkio/shlink to v3.7.0
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

fix(blocky): try out regex whitelist
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

chore(autobrr): set logging level to info
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(shlink): redis servers
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update renovate workflow
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(github): testing signed commits
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(github): flux diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(blocky): reduce prefetch intervals
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes

feat(cloudflared): test out auto sni
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(blocky): reduce prefetch intervals
  kubernetes/apps/networking/blocky/app/configs/config.yml
Labels: area/kubernetes
