Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

chore(github): update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(github): update readme
  README.md
Labels: none

chore(nostr): remove env variables
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): update grafana regex
  .github/renovate/grafanaDashboards.json5
Labels: area/github

chore(renovate): update grafana semantic commit type
  .github/renovate/grafanaDashboards.json5
Labels: area/github

chore(grafana): house keeping
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(bazarr): new line
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

chore(qbittorrent): new line
  kubernetes/apps/media/qbittorrent/app/configs/config.js
Labels: area/kubernetes

chore(k8s-gateway): new line
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(github): update flux diff
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(renovate) flux diff
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(renovate): update flux diff
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(github): updating workflows once again
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/labeler.yaml
Labels: area/github

chore(github): fix duplicate extract images
  .github/scripts/extract-images.mjs
Labels: area/github

chore(pmm): update pre roll dates
  kubernetes/apps/media/plex/tools/meta-manager/configs/Pre-rolls.yml
Labels: area/kubernetes

fix(grafana): update flux dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update workflows for the 500x time this week
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

asdf
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update workflows for the 500x time this week
  .github/scripts/extract-images.mjs
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(kyverno): update gatus policy
  kubernetes/apps/kyverno/kyverno/policies/generate-gatus.yaml
Labels: area/kubernetes

chore(github): update flux image test
  .github/workflows/flux-image-test.yaml
Labels: area/github

chore(github): update hr sync workflow
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

chore(github): update flux image test
  .github/workflows/flux-image-test.yaml
Labels: area/github

chore(github): update terraform workflow
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/publish-terraform.yaml
Labels: area/github

fix(github): add jq to install yq?
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

fix(github): samsies
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix(github): ugh
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

fix(rook): update csi provisioner image
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): update flux dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(github): use homebrew again
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(github): use homebrew again
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

fix(github): use homebrew again
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

fix(github): use homebrew again
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github
