Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix: revert authelia digest
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix: revert authelia digest
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.474 (#369)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: renovate digests automerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: renovate digests automerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: renovate digests automerge
  .github/renovate/autoMerge.json5
Labels: area/github

chore: tdarr -> ghcr.io
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr -> ghcr.io
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/kubernetes

chore: tdarr -> ghcr.io
  kubernetes/apps/media/tdarr/tdarr-node/helmrelease.yaml
  kubernetes/apps/media/tdarr/tdarr/helmrelease.yaml
Labels: area/kubernetes

chore: alertmanager external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

chore: alertmanager external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

chore: alertmanager external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

chore: alertmanager external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/pushover.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore: alertmanager external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/pushover.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore: alertmanager external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/pushover.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore: alertmanager
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/pushover.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

chore: alertmanager
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/pushover.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

chore: alertmanager
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/config.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/configs/pushover.yml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: readme colors
  README.md
Labels: none

fix: readme colors
  README.md
Labels: none

fix: readme colors
  README.md
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.475
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.475 (#370)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.478
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.478 (#371)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.484
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.26.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.26.0 (#373)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.484 (#372)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/deluge to ad2e94c
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/deluge to ad2e94c
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/deluge to ad2e94c
  kubernetes/apps/media/deluge/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.1.6999-91e1e2e2c
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.1.6999-91e1e2e2c (#375)
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pod-gateway to 6.5.1
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pod-gateway to 6.5.1 (#376)
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.485
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.2 (#378)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.485 (#377)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
