Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(helm): update chart loki to 5.8.5
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.3.3608 (#635)
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.5 (#636)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update 1password group to v1.7.1
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/qdm12/gluetun to v3.35.0
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update 1password group to v1.7.1 (patch) (#637)
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/qdm12/gluetun to v3.35.0 (#638)
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

chore: adding new namespaces to home dash
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
Labels: area/kubernetes

chore: adding new namespaces to home dash
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
Labels: area/kubernetes

chore: adding new namespaces to home dash
  kubernetes/apps/home/hajimari/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.6
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.6 (#639)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 37c95b4
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 37c95b4
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 37c95b4
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.4
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.4 (#640)
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.7
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.7 (#641)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cilium to 1.14.0-rc.0
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart cilium to 1.14.0-rc.0
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart cilium to 1.14.0-rc.0
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to bafe3a1
  kubernetes/apps/default/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to bafe3a1
  kubernetes/apps/default/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to bafe3a1
  kubernetes/apps/default/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0-snapshot.4
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(grafana): adding speedtext exporter dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): adding speedtext exporter dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): adding speedtext exporter dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): upgrading flux dashboards to v2.0.0-rc.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): upgrading flux dashboards to v2.0.0-rc.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): upgrading flux dashboards to v2.0.0-rc.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana prometheus data type to thanos
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana prometheus data type to thanos
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
