Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix: autoscan
  kubernetes/apps/media/_pvc/ks.yaml
  kubernetes/apps/media/autoscan/app/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan-adapter/helmrelease.yaml
  kubernetes/apps/media/autoscan/autoscan-adapter/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan/configs/config.yml
  kubernetes/apps/media/autoscan/autoscan/helmrelease.yaml
  kubernetes/apps/media/autoscan/autoscan/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan/pvc.yaml
  kubernetes/apps/media/autoscan/ks.yaml
Labels: area/kubernetes

fix: autoscan
  kubernetes/apps/media/_pvc/ks.yaml
  kubernetes/apps/media/autoscan/app/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan-adapter/helmrelease.yaml
  kubernetes/apps/media/autoscan/autoscan-adapter/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan/configs/config.yml
  kubernetes/apps/media/autoscan/autoscan/helmrelease.yaml
  kubernetes/apps/media/autoscan/autoscan/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan/pvc.yaml
  kubernetes/apps/media/autoscan/ks.yaml
Labels: area/kubernetes

fix: autoscan
  kubernetes/apps/media/_pvc/ks.yaml
  kubernetes/apps/media/autoscan/app/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan-adapter/helmrelease.yaml
  kubernetes/apps/media/autoscan/autoscan-adapter/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan/configs/config.yml
  kubernetes/apps/media/autoscan/autoscan/helmrelease.yaml
  kubernetes/apps/media/autoscan/autoscan/kustomization.yaml
  kubernetes/apps/media/autoscan/autoscan/pvc.yaml
  kubernetes/apps/media/autoscan/ks.yaml
Labels: area/kubernetes

fix: helm release diff
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: helm release diff
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: helm release diff
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore: readme
  talos/README.md
Labels: none

chore: readme
  talos/README.md
Labels: none

chore: readme
  talos/README.md
Labels: none

fix(container): update image ghcr.io/linuxserver/prowlarr to nightly-1.3.2.2987-ls569
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/prowlarr to nightly-1.3.2.2987-ls569
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/prowlarr to nightly-1.3.2.2987-ls569
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: readme
  .taskfiles/Kubernetes/Tasks.yml
  README.md
Labels: none

chore: readme
  .taskfiles/Kubernetes/Tasks.yml
  README.md
Labels: none

chore: readme
  .taskfiles/Kubernetes/Tasks.yml
  README.md
Labels: none

fix(helm): update chart reloader to v1.0.18
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.18
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.18
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kubelet-csr-approver to 1.0.0
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kubelet-csr-approver to 1.0.0
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kubelet-csr-approver to 1.0.0
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.423-ls433
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.423-ls433
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/sonarr to develop-4.0.0.423-ls433
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.23.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.23.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.23.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore: readme
  talos/README.md
Labels: none

chore: readme
  talos/README.md
Labels: none

chore: readme
  talos/README.md
Labels: none

chore: updating dns block lists
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore: updating dns block lists
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

chore: updating dns block lists
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix: dns tcp + udp
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix: dns tcp + udp
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix: dns tcp + udp
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart volsync to 0.7.1
  kubernetes/apps/kube-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart volsync to 0.7.1
  kubernetes/apps/kube-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart volsync to 0.7.1
  kubernetes/apps/kube-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade kernel
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
