Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

fix(helm): update chart reloader to 1.0.52
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image prometheus-blackbox-exporter to v8.5.0
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(bazarr): enable volsync rdst
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/pvc.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
Labels: area/kubernetes

feat(overseerr): enable volsync rdst
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
Labels: area/kubernetes

feat(plex): enable volsync rdst
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/pvc.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
Labels: area/kubernetes

feat(qbittorrent): enable volsync rdst
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/pvc.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
Labels: area/kubernetes

feat(pmm): enable volsync rdst
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/kustomization.yaml
  kubernetes/apps/media/plex/tools/meta-manager/pvc.yaml
  kubernetes/apps/media/plex/tools/meta-manager/volsync.yaml
Labels: area/kubernetes

feat(recyclarr): enable volsync rdst
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/pvc.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
Labels: area/kubernetes

feat(sabnzbd): enable volsync rdst
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/apps/media/sabnzbd/app/pvc.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
Labels: area/kubernetes

fix(plex): volsync rsrc pvc
  kubernetes/apps/media/plex/app/volsync.yaml
Labels: area/kubernetes

feat(tautulli): enable volsync rdst
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/pvc.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
Labels: area/kubernetes

feat(wizarr): enable volsync rdst
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/media/wizarr/app/pvc.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

chore(radarr): rename pvc
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes

chore(sonarr): rename pvc
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes

feat(home-assistant): enable volsync rdst
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/pvc.yaml
  kubernetes/apps/home/home-assistant/app/volsync.yaml
Labels: area/kubernetes

feat(mosquitto): enable volsync rdst
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/pvc.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
Labels: area/kubernetes

feat(node-red): enable volsync rdst
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/kustomization.yaml
  kubernetes/apps/home/node-red/app/pvc.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
Labels: area/kubernetes

feat(thelounge): enable volsync rdst
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/kustomization.yaml
  kubernetes/apps/home/thelounge/app/pvc.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
Labels: area/kubernetes

feat(zigbee2mqtt): enable volsync rdst
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/pvc.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
Labels: area/kubernetes

chore(volsync): moving vars around
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/volsync.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/volsync.yaml
  kubernetes/apps/home/node-red/app/kustomization.yaml
  kubernetes/apps/home/node-red/app/volsync.yaml
  kubernetes/apps/home/thelounge/app/kustomization.yaml
  kubernetes/apps/home/thelounge/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/volsync.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/volsync.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
  kubernetes/apps/media/plex/tools/meta-manager/kustomization.yaml
  kubernetes/apps/media/plex/tools/meta-manager/volsync.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/volsync.yaml
  kubernetes/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/apps/media/sabnzbd/app/volsync.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/volsync.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/media/wizarr/app/volsync.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.4.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/vector to v0.34.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.8
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(unpoller): rename default group
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(karma): change hajimari icon
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v54.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image prometheus-blackbox-exporter to v8.6.1
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.725
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/wizarrrr/wizarr to v3.5.2
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(cnpg): use data compression
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to b2440c1
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 3dfc6e1
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): renovate groups
  .github/renovate/groups.json5
Labels: area/github

fix(postgres-init): quote tag
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/postgres-init to v14.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(postgres-init): quote tag
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update kubernetes/kubernetes to 1.28.4
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"
