Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(github-action): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy smarter-device-manager
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/conf.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/helmrelease.yaml
  kubernetes/apps/kube-system/smarter-device-manager/app/kustomization.yaml
  kubernetes/apps/kube-system/smarter-device-manager/ks.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.8.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  talos/.sops.yaml
  talos/talenv.sops.yaml
Labels: none

fix: yaml kustomize lint
  kubernetes/apps/kube-system/smarter-device-manager/app/configs/conf.yaml.txt
  kubernetes/apps/kube-system/smarter-device-manager/app/kustomization.yaml
Labels: area/kubernetes

feat(container): update image prometheus-smartctl-exporter to v0.7.0
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.31.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: change public torrent port
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.9.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: ensure compatibility with plex 1.32.7.7484
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

fix: git-sync deprecated fields
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.700
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.61.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat: renovate grafana dashboard revisions
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes

feat(grafana-dashboard)!: Update dashboard Node Exporter Full to v32
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: renovate grafana dashboard revisions
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/siderolabs/talosctl to v1.5.4
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.32.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: renovate grafana dashboard revisions
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/siderolabs/talosctl to v1.5.4
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(github-release): update siderolabs/talos to v1.5.4
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.32.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana-dashboard)!: Update dashboard Node Exporter Full to v32
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: renovate grafana dashboard revisions
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/siderolabs/talosctl to v1.5.4
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat: renovate grafana dashboard revisions
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes

fix(github-release): update siderolabs/talos to v1.5.4
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
