Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore: contour upgrade timeouts
  kubernetes/apps/networking/contour/app/helmrelease.yaml
  kubernetes/apps/networking/contour/ks.yaml
Labels: area/kubernetes

chore: contour upgrade timeouts
  kubernetes/apps/networking/contour/app/helmrelease.yaml
  kubernetes/apps/networking/contour/ks.yaml
Labels: area/kubernetes

chore(container): update image docker.io/excalidraw/excalidraw to 77f0ae1
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/excalidraw/excalidraw to 77f0ae1
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/excalidraw/excalidraw to 77f0ae1
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.12
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.12 (#251)
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/linuxserver/plex to v1.32.0.6918-6f393eda1-ls161
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/linuxserver/plex to v1.32.0.6918-6f393eda1-ls161 (#252)
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image meisnate12/plex-meta-manager to v1.19.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image meisnate12/plex-meta-manager to v1.19.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image meisnate12/plex-meta-manager to v1.19.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c18bb3f
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c18bb3f
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c18bb3f
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 8cdfdfe
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 8cdfdfe
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 8cdfdfe
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to cd7ad06
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to cd7ad06
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/exportarr to cd7ad06
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image cloudflare/cloudflared to v2023.4.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image cloudflare/cloudflared to v2023.4.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image cloudflare/cloudflared to v2023.4.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/prowlarr to nightly-1.3.3.3109-ls572
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/prowlarr to nightly-1.3.3.3109-ls572
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/prowlarr to nightly-1.3.3.3109-ls572
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.20.2
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.20.2 (#253)
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore: helm release no warnings
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore: helm release no warnings
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore: helm release no warnings
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore: cleanup renovate comments
  .github/scripts/helmReleaseDiff.mjs
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptimerobot-prometheus/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/contour/app/helmrelease.yaml
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: cleanup renovate comments
  .github/scripts/helmReleaseDiff.mjs
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptimerobot-prometheus/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/contour/app/helmrelease.yaml
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: cleanup renovate comments
  .github/scripts/helmReleaseDiff.mjs
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/deluge/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptimerobot-prometheus/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/contour/app/helmrelease.yaml
  kubernetes/apps/networking/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: kustomization sources cleanup
  kubernetes/flux/repositories/helm/cilium-charts.yaml
  kubernetes/flux/repositories/helm/grafana-charts.yaml
  kubernetes/flux/repositories/helm/lwolf-charts.yaml
  kubernetes/flux/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/repositories/helm/vector-charts.yaml
Labels: area/kubernetes

chore: kustomization sources cleanup
  kubernetes/flux/repositories/helm/cilium-charts.yaml
  kubernetes/flux/repositories/helm/grafana-charts.yaml
  kubernetes/flux/repositories/helm/lwolf-charts.yaml
  kubernetes/flux/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/repositories/helm/vector-charts.yaml
Labels: area/kubernetes

chore: kustomization sources cleanup
  kubernetes/flux/repositories/helm/cilium-charts.yaml
  kubernetes/flux/repositories/helm/grafana-charts.yaml
  kubernetes/flux/repositories/helm/lwolf-charts.yaml
  kubernetes/flux/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/repositories/helm/vector-charts.yaml
Labels: area/kubernetes

chore: renovate; sabnzbd
  .github/renovate.json5
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: renovate; sabnzbd
  .github/renovate.json5
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/github, area/kubernetes
