Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

chore: use logging domain
  talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.2.7686
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.2.7686 (#756)
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577 (#755)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update talos image
  talos/talconfig.yaml
Labels: none

chore: update talos image
  talos/talconfig.yaml
Labels: none

feat(container): update image prometheus-snmp-exporter to v1.7.0
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-snmp-exporter to v1.7.0 (#757)
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-pdu/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/helmrelease.yaml
Labels: area/kubernetes

feat: grafana dashboard folders
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: grafana dashboard folders
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable prometheus features
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable prometheus features
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: descheduler targets
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: descheduler targets
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.3.3764
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.33.1
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.9.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.2 (#760)
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.3.3764 (#758)
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.33.1 (#759)
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.9.0 (#761)
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.5
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 8141946
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 8141946
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.5 (#762)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.2.0 (#763)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy rag-stack
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/helmrelease.yaml
  kubernetes/apps/databases/qdrant/app/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/pvc.yaml
  kubernetes/apps/databases/qdrant/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rag-stack/ks.yaml
  kubernetes/apps/default/rag-stack/llama2/externalsecret.yaml
  kubernetes/apps/default/rag-stack/llama2/helmrelease.yaml
  kubernetes/apps/default/rag-stack/llama2/kustomization.yaml
  kubernetes/apps/default/rag-stack/server/helmrelease.yaml
  kubernetes/apps/default/rag-stack/server/kustomization.yaml
Labels: area/kubernetes

feat: deploy rag-stack
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/helmrelease.yaml
  kubernetes/apps/databases/qdrant/app/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/pvc.yaml
  kubernetes/apps/databases/qdrant/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rag-stack/ks.yaml
  kubernetes/apps/default/rag-stack/llama2/externalsecret.yaml
  kubernetes/apps/default/rag-stack/llama2/helmrelease.yaml
  kubernetes/apps/default/rag-stack/llama2/kustomization.yaml
  kubernetes/apps/default/rag-stack/server/helmrelease.yaml
  kubernetes/apps/default/rag-stack/server/kustomization.yaml
Labels: area/kubernetes

chore: deprecate rag-stack
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/helmrelease.yaml
  kubernetes/apps/databases/qdrant/app/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/pvc.yaml
  kubernetes/apps/databases/qdrant/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rag-stack/ks.yaml
  kubernetes/apps/default/rag-stack/llama2/externalsecret.yaml
  kubernetes/apps/default/rag-stack/llama2/helmrelease.yaml
  kubernetes/apps/default/rag-stack/llama2/kustomization.yaml
  kubernetes/apps/default/rag-stack/server/helmrelease.yaml
  kubernetes/apps/default/rag-stack/server/kustomization.yaml
Labels: area/kubernetes

chore: deprecate rag-stack
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/helmrelease.yaml
  kubernetes/apps/databases/qdrant/app/kustomization.yaml
  kubernetes/apps/databases/qdrant/app/pvc.yaml
  kubernetes/apps/databases/qdrant/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rag-stack/ks.yaml
  kubernetes/apps/default/rag-stack/llama2/externalsecret.yaml
  kubernetes/apps/default/rag-stack/llama2/helmrelease.yaml
  kubernetes/apps/default/rag-stack/llama2/kustomization.yaml
  kubernetes/apps/default/rag-stack/server/helmrelease.yaml
  kubernetes/apps/default/rag-stack/server/kustomization.yaml
Labels: area/kubernetes

feat: move to space-gray theme-park styles
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat: move to space-gray theme-park styles
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix: move unpackerr to stable
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: move unpackerr to stable
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: authelia oauth acl
  kubernetes/apps/security/authelia/app/configs/configuration.yml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
