Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

chore(tailscale): set home dir
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(cert-manager): move to official oci
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

chore(media): yeet unpackerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/unpackerr/app/externalsecret.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/kustomization.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
Labels: area/kubernetes

chore(talos): machine config updates
  .taskfiles/talos/Taskfile.yaml
  talos/controlplane/m0.yaml
  talos/controlplane/m1.yaml
  talos/controlplane/m2.yaml
  talos/machineconfig.yaml.j2
Labels: area/talos, area/taskfile

feat(media): nvme cache for downloading
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes

chore(media): nas supports these speeds just fine
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): try it again
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-secrets): maybe idk
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/databases/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/databases/emqx/app/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/external-secrets/onepassword/stores/onepassword.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/externalsecret.yaml
  kubernetes/apps/home/atuin/app/externalsecret.yaml
  kubernetes/apps/home/go2rtc/app/externalsecret.yaml
  kubernetes/apps/home/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/unpoller/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/apps/networking/external-dns/unifi/externalsecret.yaml
  kubernetes/apps/networking/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale/app/externalsecret.yaml
  kubernetes/components/common/alerts/github/externalsecret.yaml
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes

fix(external-secrets): maybe idk
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
Labels: area/kubernetes

fix(external-secrets): maybe idk
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
Labels: area/kubernetes

fix(media): remove incomplete
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(external-secrets): remove image tag
  kubernetes/apps/external-secrets/external-secrets/app/helm/values.yaml
Labels: area/kubernetes

feat(media): okay yeah this is faster
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(media): okay yeah this is faster
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): these can cause stale nfs4 mounts
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): these can cause stale nfs4 mounts
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(networking): better latency to google
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(github): update readme
  README.md
Labels: none

chore(talos): squeeze some performance gains
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  talos/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore(cross-seed): these are all defaults
  kubernetes/apps/media/cross-seed/app/resources/config.js
Labels: area/kubernetes

chore(media): try this again lol
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(qbtools): update config
  kubernetes/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: area/kubernetes

fix(monitoring): swap out synololology dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(cilium): monitor envoy
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana): clean up clean up everybody clean up
  kubernetes/apps/databases/emqx/cluster/podmonitor.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): update to new l3 crds
  kubernetes/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): autopath things
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): less shit path searching
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

feat(coredns): some performance improvements
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

chore(coredns): trying to find a bad query
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

chore(coredns): something, something about this place...
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

chore(renovate): skip tests for grafana dash
  .renovate/grafanaDashboards.json5
Labels: none

chore(kps): update additional rules
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
Labels: area/kubernetes
