Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

feat(container): update image ghcr.io/n8n-io/n8n to v1.1.0 (#774)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: move blocky dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: move blocky dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.3
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.9.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.9.1 (#779)
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.2 (#778)
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.3 (#777)
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore: blocky grafana datasource
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
  kubernetes/apps/networking/blocky/app/datasource/externalsecret.yaml
  kubernetes/apps/networking/blocky/app/datasource/kustomization.yaml
  kubernetes/apps/networking/blocky/app/externalsecret.yaml
Labels: area/kubernetes

chore: blocky grafana datasource
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
  kubernetes/apps/networking/blocky/app/datasource/externalsecret.yaml
  kubernetes/apps/networking/blocky/app/datasource/kustomization.yaml
  kubernetes/apps/networking/blocky/app/externalsecret.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.578
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.578 (#780)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/bazarr to 7441744
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/bazarr to 7441744
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/nodered/node-red-dev to v3.1.0
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/nodered/node-red-dev to v3.1.0 (#781)
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.1.1
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.2.2 (#783)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v1.1.1 (#782)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore: update read me
  README.md
Labels: none

chore: update read me
  README.md
Labels: none

fix(helm): update chart cilium to 1.14.0
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

feat: use default ttl for k8s-gateway
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

feat: use default ttl for k8s-gateway
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0 (#784)
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.18.2
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.18.2 (#785)
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat: use default ttl for k8s-gateway
  kubernetes/apps/kube-system/coredns/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

feat: use default ttl for k8s-gateway
  kubernetes/apps/kube-system/coredns/app/configs/Corefile
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

fix: change rcode for k8s-gateway aaaa
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

fix: change rcode for k8s-gateway aaaa
  kubernetes/apps/networking/k8s-gateway/app/configs/Corefile
Labels: area/kubernetes

chore: renovate autodiscover repo
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore: renovate autodiscover repo
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

fix: update bazarr post process script
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

fix: update bazarr post process script
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

feat: talos to v1.4.7; k8s to v1.27.4
  README.md
  talos/talconfig.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
