Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

fix(talos): ok bye
  talos/talconfig.yaml
Labels: area/talos

fix(pmm): increase pvc to 10Gi
  kubernetes/apps/media/plex/tools/meta-manager/volsync.yaml
Labels: area/kubernetes

chore(kubernetes): add ndots to apps
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/configs/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/configs/vector.yaml
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/security/namespace.yaml
Labels: area/kubernetes

chore(kubernetes): add ndots to apps
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/bazarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/blackbox-exporter/probes/homelab.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(talos): totally unsafe but yolo
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

chore(kubernetes): general house keeping
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(plex): add image cleanup tool
  kubernetes/apps/media/plex/tools/image-cleanup/externalsecret.yaml
  kubernetes/apps/media/plex/tools/image-cleanup/helmrelease.yaml
  kubernetes/apps/media/plex/tools/image-cleanup/kustomization.yaml
Labels: area/kubernetes

chore(media): update cron tasks
  kubernetes/apps/media/plex/tools/image-cleanup/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(pmm): optimize the db
  kubernetes/apps/media/plex/tools/image-cleanup/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): dns dots
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

chore(arr): undeploy sonarr/radarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes

chore(arr): deploy sonarr/radarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

chore(pmm): update to develop
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

chore(pmm): run operations on sunday
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
Labels: area/kubernetes

chore(pmm): always run operations
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
Labels: area/kubernetes

chore(pmm): only use trakt pin
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/externalsecret.yaml
Labels: area/kubernetes

chore(pmm): that does not work
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/externalsecret.yaml
Labels: area/kubernetes

chore(media): clean up cron tasks
  kubernetes/apps/media/plex/tools/image-cleanup/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(plex): temp undeploy plex
  kubernetes/apps/media/plex/app/kustomization.yaml
Labels: area/kubernetes

chore(plex): redeploy plex
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
Labels: area/kubernetes

feat(github): add bulk merge pr workflow
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

chore(github): clean up task files
  .envrc
  .gitattributes
  .gitignore
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/scripts/controller.sh
  .taskfiles/VolSync/scripts/wait.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  .taskfiles/externalsecrets/tasks.yaml
  .taskfiles/flux/tasks.yaml
  .taskfiles/k8s/tasks.yaml
  .taskfiles/rook/tasks.yaml
  .taskfiles/rook/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/templates/WipeRookDataJob.tmpl.yaml
  .taskfiles/talos/tasks.yaml
  .taskfiles/volsync/scripts/wait.sh
  .taskfiles/volsync/tasks.yaml
  Taskfile.yaml
Labels: area/taskfiles

chore(github): add vars to bulk pr workflow
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

chore(taskfiles): clean up talos tasks
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfiles

chore(taskfiles): clean up flux tasks
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfiles

fix(plex): move to beta
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(pmm): bye bye pre rolls
  kubernetes/apps/media/plex/tools/meta-manager/configs/Pre-rolls.yml
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/kustomization.yaml
Labels: area/kubernetes

fix(taskfiles): use host pid for privileged
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfiles

Revert "feat(container)!: Update docker.io/cloudflare/cloudflared (2023.10.0 → 2024.1.0) (#1670)"
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(pmm): cron to daily
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

fix(github): bulk merge needs a little sleepy sleep
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

fix(mbpfan): add security context
  kubernetes/apps/kube-system/mbpfan/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): house keeping
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(vector): upgrade to upstream container
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore(bazarr): add plex token to env
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/kubernetes

chore(cnpg): initialize new cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

chore(smarter-device-manager): change to upstream image
  kubernetes/apps/kube-system/smarter-device-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/0xERR0R/blocky (development → v0.23)
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/meisnate12/plex-meta-manager (develop → v1.20.0)
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

chore(github): clean up workflows
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github
