Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

fix(github): try something
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore(github): test some things
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-image-test.yaml
Labels: area/github

chore(arc): does it have homebrew?
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(arc): they do not
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(github): add jo
  .github/workflows/flux-image-test.yaml
Labels: area/github

chore(tailscale): add lan trusted ip cidr
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(blocky): unblock trace.svc.ui.com
  kubernetes/apps/networking/blocky/app/configs/allowlist.txt
Labels: area/kubernetes

fix(blocky): revert ui
  kubernetes/apps/networking/blocky/app/configs/allowlist.txt
Labels: area/kubernetes

fix(tailscale): remove internal lan
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): flux-diff remove debug
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(github): house keeping workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(authelia): update oidc apps
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/rbac.yaml
  kubernetes/apps/home/node-red/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/externalsecret.yaml
Labels: area/kubernetes

feat(github): test workflow cache
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

feat(github): ensure homebrew always updated
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore(cloudflare): in order
  terraform/cloudflare/firewall.tf
Labels: area/terraform

chore(autobrr): house keeping
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(lldap): move to rootless
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): lldap non-semver
  .github/renovate/packageRules.json5
Labels: area/github

chore(authelia): move to internal
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(home): deploy miniflux
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/miniflux/app/externalsecret.yaml
  kubernetes/apps/home/miniflux/app/helmrelease.yaml
  kubernetes/apps/home/miniflux/app/kustomization.yaml
  kubernetes/apps/home/miniflux/ks.yaml
  kubernetes/apps/security/authelia/app/configs/configuration.yml
  kubernetes/apps/security/authelia/app/externalsecret.yaml
Labels: area/kubernetes

chore(renovate): update package rules
  .github/renovate/packageRules.json5
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(descheduler): increase target pod threshhold
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(github): opps
  .github/release.yaml
Labels: area/github

chore(arr): house keeping
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(descheduler): less smooth braining
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore(descheduler): smooth brain the config again
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): remove ndots
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): apply ndots per namespace
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/kyverno/kyverno/policies/add-ndots.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/namespace.yaml
Labels: area/kubernetes

Revert "feat(container): update ghcr.io/atuinsh/atuin (17.1.0 → v17.2.0) (#1645)"
  kubernetes/apps/home/atuin/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): update semver apps
  .github/renovate/packageRules.json5
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore(kubernetes): house keeping
  kubernetes/apps/home/mosquitto/app/configs/mosquitto.conf
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/dashboards/smart-dashboard.json
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/snmp-exporter/cyberpower-ups/dashboards/cyberpower-ups-dashboard.json
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/dashboards/synology-snmp-dashboard.json
  kubernetes/apps/monitoring/exporters/snmp-exporter/synology-nas/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/dashboards/gatus.json
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/prometheus-community-charts.yaml
Labels: area/kubernetes

chore(pmm): update config
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

chore(pmm): /dev/null logs
  kubernetes/apps/media/plex/tools/meta-manager/configs/config.yml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): convert to app-template
  kubernetes/apps/networking/external-dns/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/rbac.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/external-dns-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(rbac): various fixes
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/monitoring/vector/agent/rbac.yaml
  kubernetes/apps/networking/external-dns/app/rbac.yaml
  kubernetes/apps/networking/k8s-gateway/app/rbac.yaml
Labels: area/kubernetes

chore(cilium): change some knobs
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(radarr): stable branch has same version
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
