Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.4.0 (#722)
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart democratic-csi to 0.14.0 (#721)
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix: democratic-csi breaking changes
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix: democratic-csi breaking changes
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix: democratic-csi breaking changes
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix: cilium layer2 & layer3 announcements
  README.md
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

fix: cilium layer2 & layer3 announcements
  README.md
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

fix: cilium layer2 & layer3 announcements
  README.md
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0-rc.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0-rc.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0-rc.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.8.5
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.8.5 (#726)
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.17
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.17 (#727)
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.18
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.18 (#728)
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.569
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.569 (#729)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: deprecate tdarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/kustomization.yaml
  kubernetes/apps/media/tdarr/app/pvc.yaml
  kubernetes/apps/media/tdarr/app/volsync.yaml
  kubernetes/apps/media/tdarr/ks.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/kustomization.yaml
Labels: area/kubernetes

chore: deprecate tdarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/kustomization.yaml
  kubernetes/apps/media/tdarr/app/pvc.yaml
  kubernetes/apps/media/tdarr/app/volsync.yaml
  kubernetes/apps/media/tdarr/ks.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/kustomization.yaml
Labels: area/kubernetes

chore: deprecate tdarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/kustomization.yaml
  kubernetes/apps/media/tdarr/app/pvc.yaml
  kubernetes/apps/media/tdarr/app/volsync.yaml
  kubernetes/apps/media/tdarr/ks.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/kustomization.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.11.10
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.20
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph group to v1.12.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph group to v1.12.0 (minor) (#732)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.20 (#730)
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

chore: move cpu scaling_governor to powersave
  .taskfiles/talos/tasks.yaml
  talos/talconfig.yaml
Labels: none

chore: move cpu scaling_governor to powersave
  .taskfiles/talos/tasks.yaml
  talos/talconfig.yaml
Labels: none

chore: move cpu scaling_governor to powersave
  .taskfiles/talos/tasks.yaml
  talos/talconfig.yaml
Labels: none

feat: deploy csi-addons-controller-manager; enable rook-ceph csi addons
  kubernetes/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/apps/csi-addons-system/kustomization.yaml
  kubernetes/apps/csi-addons-system/namespace.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/flux/repositories/git/.gitkeep
  kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

feat: deploy csi-addons-controller-manager; enable rook-ceph csi addons
  kubernetes/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/apps/csi-addons-system/kustomization.yaml
  kubernetes/apps/csi-addons-system/namespace.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/flux/repositories/git/.gitkeep
  kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

feat: deploy csi-addons-controller-manager; enable rook-ceph csi addons
  kubernetes/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/apps/csi-addons-system/kustomization.yaml
  kubernetes/apps/csi-addons-system/namespace.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/flux/repositories/git/.gitkeep
  kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

chore: move scrape intervals around
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore: move scrape intervals around
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore: move scrape intervals around
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore: disable cpu turbo boosting (temps are 🔥)
  talos/talconfig.yaml
Labels: none

chore: disable cpu turbo boosting (temps are 🔥)
  talos/talconfig.yaml
Labels: none

chore: disable cpu turbo boosting (temps are 🔥)
  talos/talconfig.yaml
Labels: none

feat(github-action): update tj-actions/changed-files action to v37.2.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
