Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/taskfiles, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/terraform:
  - "terraform/**/*"

chore(github): update helm repo sync workflow
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(es): lower refresh interval for templated secrets
  kubernetes/apps/default/nostr-relay/app/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/networking/blocky/app/datasource/externalsecret.yaml
  kubernetes/apps/networking/blocky/app/externalsecret.yaml
Labels: area/kubernetes

fix(github-action): update timheuer/base64-to-file action to v1.2.4
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image registry.k8s.io/sig-storage/csi-provisioner to v3.6.2
  kubernetes/apps/democratic-csi/democratic-csi/local-hostpath/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.717
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kyverno to v3.1.0
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.15.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(coredns): faster dns queries
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(1pass): change volume name
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): remove dash in port names
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(1pass): config dir
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.719
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.720
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.3.8246
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.2.4064
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v53
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(smtp-relay): env variables
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(blocky): postgres datasource version
  kubernetes/apps/networking/blocky/app/datasource/datasource.yaml
Labels: area/kubernetes

chore(smtp-relay): fix ports
  kubernetes/apps/networking/smtp-relay/app/configs/maddy.conf
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(plex): add probes
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(plex): update gatus endpoint
  kubernetes/apps/media/plex/app/configs/gatus.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.9
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v54
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v54.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart volsync to 0.8.0
  kubernetes/apps/kube-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.9
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.4
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

feat(container): update image ghcr.io/twin/gatus to v5.7.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.10
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.1
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.3
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.19.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-1
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gha-runner-scale-set to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gha-runner-scale-set-controller to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): group actions-runner helm
  .github/renovate/groups.json5
Labels: area/github
