Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(helm): update chart thanos to 12.4.3
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.4.3 (#282)
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.13.2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.13.2 (#283)
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.13.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.13.0 (#284)
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 0f1eb00
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 0f1eb00
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 0f1eb00
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.5.3
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 1.7.2
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.5.3 (#285)
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 1.7.2 (#286)
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 63a76f1
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 63a76f1
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 63a76f1
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.5.4
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.449
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.5.4 (#287)
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.449 (#288)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: blocky -> bjw-s
  .github/renovate/autoMerge.json5
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
Labels: area/github, area/kubernetes

feat: blocky -> bjw-s
  .github/renovate/autoMerge.json5
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
Labels: area/github, area/kubernetes

feat: blocky -> bjw-s
  .github/renovate/autoMerge.json5
  kubernetes/apps/networking/blocky/app/configs/config.yml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/kustomization.yaml
Labels: area/github, area/kubernetes

fix: kuik
  kubernetes/apps/kube-system/kube-image-keeper/app/helmrelease.yaml
Labels: area/kubernetes

fix: kuik
  kubernetes/apps/kube-system/kube-image-keeper/app/helmrelease.yaml
Labels: area/kubernetes

fix: kuik
  kubernetes/apps/kube-system/kube-image-keeper/app/helmrelease.yaml
Labels: area/kubernetes

fix: kuik
  kubernetes/apps/kube-system/kube-image-keeper/app/helmrelease.yaml
Labels: area/kubernetes

fix: kuik
  kubernetes/apps/kube-system/kube-image-keeper/app/helmrelease.yaml
Labels: area/kubernetes

fix: kuik
  kubernetes/apps/kube-system/kube-image-keeper/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.54.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.54.0 (#289)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c678c9b
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c678c9b
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c678c9b
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.11.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.11.0 (#290)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.11.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.11.1 (#291)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrading talos + k8s
  talos/talconfig.yaml
Labels: none

feat: upgrading talos + k8s
  talos/talconfig.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
