Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/taskfile

chore(kubernetes): house keeping components
  .github/workflows/helm-repository-sync.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/r2.yaml
  kubernetes/components/volsync/r2/externalsecret.yaml
  kubernetes/components/volsync/r2/kustomization.yaml
  kubernetes/components/volsync/r2/replicationdestination.yaml
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/github, area/kubernetes

fix(irqbalance): it needs privileged
  kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
Labels: area/kubernetes

feat(taskfiles): auto detect insecure apply-config
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(flux): update flux instance renovate annotation
  kubernetes/apps/flux-system/flux-operator/instance/resources/values.yaml
Labels: area/kubernetes

chore(taskfiles): clean up talos tasks
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(taskfiles): clean up talos tasks
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

chore(taskfiles): clean up volsync tasks
  .taskfiles/volsync/Taskfile.yaml
Labels: area/taskfile

feat(flux): add health check expressions
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

feat(flux): add health check expressions
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

feat(flux): add health check expressions
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

feat(flux): add health check expressions (#3460)
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/apps/databases/emqx/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

chore(taskfiles): figure out machine type easier
  .taskfiles/talos/Taskfile.yaml
  talos/controlplane.yaml.j2
Labels: area/talos, area/taskfile

chore(taskfiles): split out the jq query
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(github): update renovate config
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

chore(taskfiles): little var swap
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

feat(rook): add health checks
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore(renovate): remove kps auto merge - takes forever anyways
  .github/renovate/autoMerge.json5
Labels: area/github

chore(rook): wait is reduntant with health checks
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(autobrr): needs more memory
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): remove dispatch from helm repo sync
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(github): update needs for selfhosted runners
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(cilium): rebooting causes operator pod spam
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore(karma): remove depends on
  kubernetes/apps/monitoring/karma/ks.yaml
Labels: area/kubernetes

chore(rook): this ks is the only one without a wait -- annoys me
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore(github): update workflow jobs
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
Labels: area/github

chore(rook): use not equals lol
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore(github): update workflows
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore(github): test workflows
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(github): needs a bash
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

feat(workflows): big update
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

feat(workflows): big update (#3476)
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

testing workflows
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): house keeping workflows
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

feat(github): move to arm runners
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

test arm runners
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update workflows
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(github): fix workflow
  .github/workflows/helm-repository-sync.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(github): workflows
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-local.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/pre-pull-images.yaml
Labels: area/github

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml
