Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(container): update image ghcr.io/onedr0p/excalidraw to 8646857
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 8646857
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/excalidraw to 8646857
  kubernetes/apps/home/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart contour to 11.3.0
  kubernetes/apps/networking/contour/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart contour to 11.3.0 (#316)
  kubernetes/apps/networking/contour/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.457
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.457 (#317)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image cloudflare/cloudflared to v2023.4.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image cloudflare/cloudflared to v2023.4.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image cloudflare/cloudflared to v2023.4.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.460
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-action): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-action): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(helm): update chart redis to 17.10.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 7bb4345
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 7bb4345
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 7bb4345
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.460 (#318)
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.10.1 (#319)
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v0.225.2
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n to v0.225.2 (#320)
  kubernetes/apps/home/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.21.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.21.0 (#321)
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: tasks
  .taskfiles/ExternalSecrets/Tasks.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/tasks.yaml
  .taskfiles/flux/tasks.yaml
  .taskfiles/k8s/tasks.yaml
  .taskfiles/talos/tasks.yaml
  Taskfile.yaml
Labels: none

chore: tasks
  .taskfiles/ExternalSecrets/Tasks.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/tasks.yaml
  .taskfiles/flux/tasks.yaml
  .taskfiles/k8s/tasks.yaml
  .taskfiles/talos/tasks.yaml
  Taskfile.yaml
Labels: none

chore: tasks
  .taskfiles/ExternalSecrets/Tasks.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/tasks.yaml
  .taskfiles/flux/tasks.yaml
  .taskfiles/k8s/tasks.yaml
  .taskfiles/talos/tasks.yaml
  Taskfile.yaml
Labels: none

chore: force rename
  .taskfiles/es/tasks.yaml
  .taskfiles/vs/ListJob.tmpl.yaml
  .taskfiles/vs/ReplicationDestination.tmpl.yaml
  .taskfiles/vs/UnlockJob.tmpl.yaml
  .taskfiles/vs/WipeJob.tmpl.yaml
  .taskfiles/vs/tasks.yaml
  .taskfiles/vs/wait-for-job.sh
Labels: none

chore: force rename
  .taskfiles/es/tasks.yaml
  .taskfiles/vs/ListJob.tmpl.yaml
  .taskfiles/vs/ReplicationDestination.tmpl.yaml
  .taskfiles/vs/UnlockJob.tmpl.yaml
  .taskfiles/vs/WipeJob.tmpl.yaml
  .taskfiles/vs/tasks.yaml
  .taskfiles/vs/wait-for-job.sh
Labels: none

chore: force rename
  .taskfiles/es/tasks.yaml
  .taskfiles/vs/ListJob.tmpl.yaml
  .taskfiles/vs/ReplicationDestination.tmpl.yaml
  .taskfiles/vs/UnlockJob.tmpl.yaml
  .taskfiles/vs/WipeJob.tmpl.yaml
  .taskfiles/vs/tasks.yaml
  .taskfiles/vs/wait-for-job.sh
Labels: none

chore: force rename
  .taskfiles/externalsecrets/tasks.yaml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/wait-for-job.sh
Labels: none

chore: force rename
  .taskfiles/externalsecrets/tasks.yaml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/wait-for-job.sh
Labels: none

chore: force rename
  .taskfiles/externalsecrets/tasks.yaml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/wait-for-job.sh
Labels: none

chore: add rook tasks
  .taskfiles/rook/tasks.yaml
  Taskfile.yaml
  talos/talconfig.yaml
Labels: none

chore: add rook tasks
  .taskfiles/rook/tasks.yaml
  Taskfile.yaml
  talos/talconfig.yaml
Labels: none

chore: add rook tasks
  .taskfiles/rook/tasks.yaml
  Taskfile.yaml
  talos/talconfig.yaml
Labels: none

fix(helm): update chart cloudnative-pg to 0.17.2
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.17.2 (#322)
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c8dd9d5
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c8dd9d5
  kubernetes/apps/home/authelia/app/helmrelease.yaml
Labels: area/kubernetes
