Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update image kube-prometheus-stack to v51.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.4.7
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: nginx-ingress snippet annotations
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.1.3981
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.2.8103
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.5.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: move nodes to cloudflare time
  talos/talconfig.yaml
Labels: none

chore: rename qbittools
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/manage/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/kustomization.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to c0300ea
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tailscale/tailscale to v1.50.0
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image gha-runner-scale-set to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image gha-runner-scale-set-controller to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: arc service account namespace
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.9.4
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.1.0
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: move around save paths
  kubernetes/apps/media/qbittorrent/app/configs/config.js
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

feat: auto upgrades
  .github/renovate.json5
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/serviceaccount.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/github, area/kubernetes

chore(container): update image ghcr.io/onedr0p/alpine to 23ca8ff
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

feat(container): update image docker.io/restic/restic to v0.16.0
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

feat(container): update image ghcr.io/onedr0p/alpine to v3.18.3
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

chore: pin tasks to alpine digest
  .taskfiles/k8s/tasks.yaml
Labels: none

fix(helm): update chart cert-manager to v1.13.1
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore: renovate custom dependencies
  .github/renovate.json5
Labels: area/github

feat(container): update image prometheus-blackbox-exporter to v8.4.0
  kubernetes/apps/monitoring/exporters/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix: stop deleting failed pods
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: talos upgrade wait
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

nit: remove plan version quotes
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix: disable system upgrades for now
  kubernetes/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.31
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/vector to v0.33.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.685
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.23.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.686
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.7.7571-13cdc68dc
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.1
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: move system-upgrade-controller to kube-system
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/serviceaccount.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

feat: system-upgrade-controller (but suspended)
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
Labels: area/kubernetes
