Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.674
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.676
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.4
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image thanos to v12.13.4 (#1083)"
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v39.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

Revert "feat(helm): update external snapshotter group (minor) (#1085)"
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.18
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.682
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.5
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prymitive/karma to v0.116
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.1.1
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

feat(github-action): update tibdex/github-app-token action to v2.1.0
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 4.15.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: none

fix(container): update image quay.io/thanos/thanos to v0.32.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.41
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.1
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/meisnate12/plex-meta-manager to v1.19.1
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.1.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image thanos to v12.13.5
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/vector to v0.32.2
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.22.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.22.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.23.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.5
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.59.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.1.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/checkout action to v4.1.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v39.2.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(container): update image ghcr.io/autobrr/autobrr to v1.30.0
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/shlinkio/shlink to v3.6.4
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade talos to 1.5.3; k8s to 1.28.2
  README.md
  talos/talconfig.yaml
Labels: none

feat(helm): update chart grafana to 6.60.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: faster recyclarr schedule
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.8.0
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
