Repository buroa/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/taskfiles, area/terraform

chore(thelounge): more security context
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

chore(networking): more security context
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(authelia): more security context
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(cloudflared): more security context
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(tailscale): more security context
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

chore(k8s-gateway): more security context
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

chore(zigabee): more security context
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

chore(plex): remove render group
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(plex): remove quote
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(media): more security context
  kubernetes/apps/media/plex/tools/auto-languages/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme; github actions
  .github/renovate.json5
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
  README.md
Labels: area/github

chore(default): excalidraw; bye girl bye
  kubernetes/apps/default/excalidraw/app/helmrelease.yaml
  kubernetes/apps/default/excalidraw/app/kustomization.yaml
  kubernetes/apps/default/excalidraw/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

nit(kubernetes): clean up yaml
  kubernetes/apps/kube-system/cilium/configs/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(sonarr): tmp directory
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(radarr): tmp directory
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(prowlarr): tmp directory
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): tmp directory
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(prowlarr): remove tmp
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(sonarr): remove tmp directory
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(radarr): remove tmp directory
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

nit(kubernetes): clean up persistence
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(external-secrets): more security context
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(home-assistant): add tmp directory
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(node-red): add tmp directory
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): clean up ingress
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/nostr-relay/app/helmrelease.yaml
  kubernetes/apps/home/atuin/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(kubernetes): clean up persistence
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/thelounge/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/tools/meta-manager/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(lldap): cleaner env vars
  kubernetes/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(ingress): clean up hosts
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

chore(github): update readme
  README.md
Labels: none

chore(libreddit): clean up gatus ep
  kubernetes/apps/default/libreddit/app/configs/gatus.yaml
Labels: area/kubernetes

chore(flux-webhook): add gatus ep
  kubernetes/apps/flux-system/addons/webhooks/github/configs/gatus.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
Labels: area/kubernetes

chore(kubernetes): clean up apps
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/rbac.yaml
Labels: area/kubernetes

chore(vector): update service account
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore(vector): update service account
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
Labels: area/kubernetes

chore(vector): delete rbac
  kubernetes/apps/monitoring/vector/aggregator/rbac.yaml
Labels: area/kubernetes

chore(vector): temp undeploy
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
Labels: area/kubernetes

chore(vector): deploy again
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
Labels: area/kubernetes

chore(vector): temp remove vector
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore(vector): redeploy
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore(gatus): reorder resources
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/talos:
  - "talos/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/terraform:
  - "terraform/**/*"
